.simply-scroll-container {
  position: relative;
}

.simply-scroll-clip {
  position: relative;
  overflow: hidden;
}

.simply-scroll-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.simply-scroll-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.simply-scroll {
  height: 200px;
  margin-bottom: 1em;
}

.simply-scroll .simply-scroll-clip {
  height: 200px;
}

.simply-scroll .simply-scroll-list li {
  float: left;
  width: 290px;
  height: 200px;
}

/*! jQuery UI - v1.10.2 - 2013-04-24
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:after,
.ui-helper-clearfix:before {
  content: "";
  display: table;
  border-collapse: collapse;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  min-height: 0;
}

.ui-state-disabled {
  cursor: default!important;
}

button.ui-button::-moz-focus-inner,
input.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

.ui-tabs {
  position: relative;
  padding: .2em;
}

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  cursor: text;
}

.ui-tabs .ui-tabs-nav li a {
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: 0 0;
}

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

.ui-widget-content {
  border: 1px solid #aaa;
  background: url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x #fff;
  color: #222;
}

.ui-widget-content a {
  color: #222;
}

.ui-widget-header {
  border: 1px solid #aaa;
  background: url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x #ccc;
  color: #222;
  font-weight: 700;
}

.ui-widget-header a {
  color: #222;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x #e6e6e6;
  font-weight: 400;
  color: #555;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555;
  text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #aaa;
  background: url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x #fff;
  font-weight: 400;
  color: #212121;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

.ui-corner-all,
.ui-corner-top {
  border-top-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-top {
  border-top-right-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom {
  border-bottom-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom {
  border-bottom-right-radius: 4px;
}

a,
abbr,
body,
canvas,
div,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
html,
img,
label,
legend,
li,
object,
ol,
p,
pre,
span,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  background: bottom repeat-x #FFF;
  color: #000;
  font-size: 18px;
  min-height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: proxima-nova,arial;
}

body .ui-widget {
  font-size: .9em;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

a,
h1,
h2,
h3,
h4,
li,
p,
span {
  text-rendering: optimizelegibility;
}

a,
a:visited {
  color: #2e8836;
  text-decoration: none;
}

a:active,
a:hover,
a:visited:active,
a:visited:hover {
  text-decoration: underline;
}

p {
  margin: 1em 0;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  color: #e98024;
}

h1.dark {
  color: #000;
}

h2 {
  font-size: 22px;
  color: #2a3052;
}

h3 {
  color: #000;
  font-size: 20px;
}

h4 {
  color: #000;
  font-size: 18px;
}

h4 a {
  color: #000!important;
}

button,
input,
select {
  background: #fff;
  border: 1px solid #dedede;
  padding: 2px 3px;
}

button {
  vertical-align: top;
}

button,
input,
option,
select {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input {
  vertical-align: middle;
}

strong {
  font-weight: 700;
}

ol,
ul {
  margin: 0;
}

ol li,
ul li {
  margin: .5em 0 0;
  line-height: 1.4em;
}

ul li ul {
  margin: .8em 0 0 1em;
}

ol li {
  list-style-type: decimal;
  list-style-image: none;
}

img {
  vertical-align: middle;
  border: 0;
}

abbr {
  cursor: help;
}

form {
  margin: 0;
  padding: 0;
}

fieldset {
  position: relative;
  border: 1px solid #E5E5E5;
  padding: 5px;
  background: -moz-linear-gradient(top,#fff 30%,#f2f2f2 90%);
  background: -webkit-linear-gradient(top,#fff 30%,#f2f2f2 90%);
  background: -ms-linear-gradient(top,#fff 30%,#f2f2f2 90%);
  border-bottom: 1px solid transparent;
}

fieldset legend {
  color: #444;
  padding: 0 .8em;
  font-weight: 700;
  text-transform: capitalize;
}

label {
  line-height: 25px;
}

.form_label {
  text-align: right;
  line-height: 25px;
}

.errorfield {
  color: #c00;
}

.errorfield {
  margin: 0;
}

.errorfield {
  font-size: 93%;
  font-style: italic;
  margin-top: 8px;
}

.form_button {
  text-align: center;
}

.non_input {
  color: gray;
  line-height: 1.7em;
}

.non_input label {
  line-height: 1.6em;
}

* {
  margin: 0;
}

.hidden {
  display: none;
}

.push {
  clear: both;
}

.button {
  cursor: pointer;
  margin-bottom: .5em;
}

.button:hover {
  color: #fff;
  text-decoration: none;
}

.button button,
.button span {
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  background: #2e8836;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 15px;
  display: inline-block;
  overflow: visible;
  border: 0;
  font-weight: 700;
}

.button button:visited,
.button span:visited {
  color: #fff;
}

.button button:active,
.button button:hover,
.button span:active,
.button span:hover {
  text-decoration: none;
  background-color: #14602B;
}

.button-disabled {
  cursor: pointer;
  margin-bottom: .5em;
}

.button-disabled:hover {
  color: #c2c2c2;
  background: #f2f2f2;
  text-decoration: none;
}

.button-disabled span {
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 15px;
  display: inline-block;
  overflow: visible;
  white-space: nowrap;
  border: 0;
  font-weight: 700;
  color: #c2c2c2;
  background: #f2f2f2;
  cursor: default;
}

.button-disabled span:visited {
  color: #fff;
}

.button-disabled span:active,
.button-disabled span:hover {
  text-decoration: none;
  color: #c2c2c2;
  background: #f2f2f2;
}

.error-msg {
  color: #c00;
  font-style: italic;
  font-size: 93%;
}

.notice-msg {
  color: #000;
  background-color: #fef1cf;
  padding: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ol,
ul.bullet {
  margin: 1.25em 0 1.25em 1.25em;
}

ul.bullet li {
  list-style-image: url(../images/pages/get-started/list-circle_1.png);
}

.paging-navigation ul.paging-links li {
  line-height: 1em;
}

ul.checked li {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDQzMzYzKSAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDI0IDIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNCAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8Zz4NCgkJPGc+DQoJCQk8cG9seWdvbiBmaWxsPSIjRTk4MDI1IiBwb2ludHM9IjguNjIzLDE5LjU1NyAwLDEwLjkzNiAzLjczNiw3LjE5OCA4LjYyMywxMi4wODIgMjAuMjYyLDAuNDQzIDI0LDQuMTggOC42MjMsMTkuNTU3IAkJCSIvPg0KCQk8L2c+DQoJPC9nPg0KPC9nPg0KPC9zdmc+DQo=) no-repeat;
  padding-left: 28px;
  min-height: 24px;
}

.hint {
  font-size: 14px;
  color: #58595B;
  margin-top: 3px;
}

#content {
  margin-bottom: 20px;
}

#topbar {
  width: 100%;
  background: #15212d;
  color: #fff;
  line-height: 1;
  font-size: 70%;
  text-align: right;
  padding: 3px 0;
}

#topbar #topbar-info {
  float: right;
}

#topbar #contact-us,
#topbar #gmt-clock,
#topbar #virtualupgrade {
  padding-top: 3px;
}

#topbar #virtualupgrade a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  background: #2e8836;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 2px;
  font-size: 90%;
  padding: 2px 4px;
  margin: 0 0 0 10px;
}

#topbar #virtualupgrade a:visited {
  color: #fff;
}

#topbar #virtualupgrade a:active,
#topbar #virtualupgrade a:hover {
  text-decoration: none;
  background-color: #14602B;
}

#topbar #language_select select {
  padding: 0;
}

#topbar a {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
}

#header {
  background: #2a3052;
  border-top: 2px solid #394171;
  border-bottom: 4px solid #e98024;
}

#header a {
  color: #fff;
  text-decoration: none;
}

#header #binary-logo-text {
  margin-top: 10px;
}

#header #login-form {
  text-align: right;
}

#header #login-form #login-links {
  margin: 5px 0 0;
  display: block;
}

#header #login-form input {
  display: inline;
  border-radius: 4px;
  font-size: 11px;
  margin: 0 0 0 5px;
}

#header #login-form input[type=password],
#header #login-form input[type=text] {
  background: #FEFEFE;
  border: 0;
  width: 50px;
  color: #000;
  padding: 4px;
}

#header #login-form input[type=submit] {
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  background: #2e8836;
  border-radius: 4px;
  font-weight: 700;
  display: inline-block;
  border: 0;
  text-transform: uppercase;
  padding: 5px 3px;
  word-break: break-all;
  white-space: pre-wrap;
  max-width: 60px;
}

#header #login-form input[type=submit]:visited {
  color: #fff;
}

#header #login-form input[type=submit]:active,
#header #login-form input[type=submit]:hover {
  text-decoration: none;
  background-color: #14602B;
}

#header a#lost-password,
#header a#register {
  display: inline-block;
  margin: 0 0 0 10px;
  line-height: 170%;
  font-size: 70%;
}

#header #logout {
  text-align: right;
  color: #fff;
  font-size: 70%;
  margin-top: 10px;
}

#header #logout a:active,
#header #logout a:hover,
#header #logout a:visited:active,
#header #logout a:visited:hover {
  text-decoration: underline;
}

#header #logout a.logout,
#header #logout a:visited.logout {
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  background: 104.6% .3% no-repeat #2e8836;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px;
  font-weight: 400;
  margin-left: .4em;
}

#header #logout a.logout:visited,
#header #logout a:visited.logout:visited {
  color: #fff;
}

#header #logout a.logout:active,
#header #logout a.logout:hover,
#header #logout a:visited.logout:active,
#header #logout a:visited.logout:hover {
  text-decoration: none;
  background-color: #14602B;
}

#header #mobile-menu-icon-container {
  margin-top: 5px;
  margin-right: 3px;
}

#header #menu-top {
  text-align: center;
}

#header #menu-top a:hover {
  opacity: .75;
}

#header #menu-top li {
  line-height: 1;
  display: inline-block;
  text-align: center;
  margin: 0;
}

#header #menu-top li:last-child {
  background: 0 0;
}

#header #menu-top li a {
  vertical-align: middle;
  display: table-cell;
  height: 50px;
  max-width: 110px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 100%;
  padding: 0 5px;
  word-wrap: break-word;
}

#header #menu-top li.active a {
  color: #e98024;
}

#appcache-reload-message {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fef1cf;
  z-index: 999;
  text-align: center;
}

#appcache-reload-message .message {
  margin: 12px;
  font-style: italic;
  color: #c00;
}

#footer #footer-menu {
  background: #2a3052;
}

#footer #footer-menu h1 {
  font-size: 80%;
  text-transform: uppercase;
}

#footer #footer-menu a {
  font-size: 74%;
  color: #fff;
}

#footer #footer-menu li {
  line-height: 1;
}

#footer #footer-menu #accounts_links {
  padding-bottom: 10px;
}

#footer #footer-regulatory {
  background: #15212d;
}

#footer #footer-regulatory a {
  display: inline-block;
}

#footer #footer-regulatory #regulatory-text {
  line-height: 1.2em;
  text-align: justify;
  color: #fff;
  font-size: 64%;
}

#footer #footer-regulatory #iom_icon_footer {
  max-width: 90px;
}

#footer #footer-regulatory #lga_icon_footer {
  max-width: 140px;
}

#footer #footer-regulatory #eighteen_plus {
  max-width: 45px;
}

#footer #footer-regulatory .social-network-icon {
  width: 30px;
  height: 30px;
  padding-right: 5px;
  padding-top: 10px;
}

#main-menu {
  background-color: #f2f2f2;
  border-bottom: 1px solid #dedede;
  margin-bottom: 40px;
}

#main-menu a.a-active {
  color: #e98024;
}

#content .tab-menu-wrap ul,
.tab-menu-wrap ul {
  margin: 0;
  font-size: 85%;
  background-color: #f2f2f2;
  position: relative;
  display: block;
}

#content .tab-menu-wrap ul li,
.tab-menu-wrap ul li {
  margin: 0 2em 0 0;
  display: inline-block;
}

#content .tab-menu-wrap ul li a,
.tab-menu-wrap ul li a {
  color: #000;
  line-height: 2;
  top: 1px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-transform: capitalize;
}

.tab-menu-wrap ul li ul.sub_items {
  margin-top: 1px;
  display: none;
}

.tab-menu-wrap ul li ul.sub_items li.sub_item {
  font-size: 100%;
  margin-right: 20px;
}

#content .tab-menu-wrap ul li ul.tm-ul-2,
.tab-menu-wrap ul li ul.tm-ul-2 {
  margin-top: 1px;
  display: none;
}

#content .tab-menu-wrap ul li ul.tm-ul-2 li.tm-li-2,
.tab-menu-wrap ul li ul.tm-ul-2 li.tm-li-2 {
  font-size: 100%;
  margin-right: 20px;
}

#content .tab-menu-wrap ul li.active ul,
.tab-menu-wrap ul li.active ul,
.tab-menu-wrap ul li.hover ul {
  display: block;
  position: absolute;
  left: 1px;
  width: 99%;
  z-index: 10;
  margin-top: 3px solid transparent;
  background: #fff;
}

#content .tab-menu-wrap ul li.active ul li,
.tab-menu-wrap ul li.active ul li,
.tab-menu-wrap ul li.hover ul li {
  margin-right: 2em;
}

#content .tab-menu-wrap ul li.active ul li a,
.tab-menu-wrap ul li.active ul li a,
.tab-menu-wrap ul li.hover ul li a {
  top: auto;
  border: 0;
  color: gray;
  display: inline-block;
}

#content .tab-menu-wrap ul li.active ul li a.a-active,
.tab-menu-wrap ul li.active ul li a.a-active,
.tab-menu-wrap ul li.hover ul li a.a-active {
  color: #e98024;
}

#content .tab-menu-wrap ul li.active a,
.tab-menu-wrap ul li.active a {
  color: #e98024;
  background: url(../images/common/nav/menu-sub-selection_1.png) no-repeat bottom;
}

#content .tab-menu-wrap ul li.active ul,
.tab-menu-wrap ul li.active ul {
  z-index: 1;
}

#content .tab-menu-wrap ul li.active ul a,
.tab-menu-wrap ul li.active ul a {
  background: 0 0;
}

#content ul.tm-ul {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-left: 0;
  background: 0 0;
  border-bottom: 1px solid gray;
}

#content ul.tm-ul li {
  border: none;
  list-style-image: none;
  background: #f2f2f2;
  border-radius: 4px 4px 0 0;
  margin: 0 6px 0 0;
  padding: 0 10px;
}

#content ul.tm-ul li a,
#content ul.tm-ul li a:visited {
  padding: 0;
  text-decoration: none;
  color: #000;
  font-size: 90%;
  background: 0 0;
}

#content ul.tm-ul li.active {
  background: #2a3052;
  color: #fff;
}

#content ul.tm-ul li.active a {
  background: 0 0;
  color: #fff;
  text-decoration: none;
  padding: 0;
}

#content ul.tm-ul ul.tm-ul-2 {
  list-style-type: none;
  margin: 0;
}

#content ul.tm-ul ul.tm-ul-2 li {
  background: 0 0;
}

#content ul.tm-ul ul.tm-ul-2 li a {
  color: #000;
  padding-top: 0;
  text-decoration: none;
  width: auto;
}

#content ul.tm-ul ul.tm-ul-2 li a.a-active {
  color: #e98024;
}

#content ul.tm-ul ul.tm-ul-2 li a:hover {
  text-decoration: underline;
}

.has-tabs {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font: inherit!important;
}

.has-tabs ul.ui-tabs-nav {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-left: 0;
  background: 0 0;
  border-bottom: 1px solid gray;
  font: inherit!important;
}

.has-tabs ul.ui-tabs-nav li {
  border: none;
  list-style-image: none;
  background: #f2f2f2;
  border-radius: 4px 4px 0 0;
  margin: 0 6px 0 0;
  padding: 0 10px;
}

.has-tabs ul.ui-tabs-nav li a,
.has-tabs ul.ui-tabs-nav li a:visited {
  padding: 0;
  text-decoration: none;
  color: #000;
  font-size: 90%;
  background: 0 0;
}

.has-tabs ul.ui-tabs-nav li.ui-tabs-active {
  background: #2a3052;
  color: #fff;
}

.has-tabs ul.ui-tabs-nav li.ui-tabs-active a {
  background: 0 0;
  color: #fff;
  text-decoration: none;
  padding: 0;
}

.has-tabs ul.ui-tabs-nav li {
  margin-right: 6px!important;
}

.has-tabs .ui-tabs-panel {
  padding: 0!important;
}

#content .page-section {
  width: 100%;
}

#content .page-section>.tab-menu {
  width: 100%;
  height: 32px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dedede;
}

#content .page-section>.tab-menu ul.tm-ul {
  margin: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dedede;
  font-size: 100%;
}

#content .page-section>.tab-menu ul.tm-ul li {
  margin-right: 2em;
  color: #e98024;
}

#content .page-section>.tab-menu ul.tm-ul li a:hover {
  text-decoration: none;
}

#content .page-section>.tab-menu ul.tm-ul li.active {
  background: 0 0;
}

#content .page-section>.tab-menu ul.tm-ul li.active a {
  color: #e98024;
  background: url(../images/common/nav/menu-sub-selection_1.png) no-repeat bottom;
}

#tooltip {
  font-family: proxima-nova,arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background: #FFF1CF;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  position: absolute;
  z-index: 100;
  padding: 15px;
}

#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #c2c2c2;
  border-top-color: #FFF1CF;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

abbr {
  border-bottom: 1px dotted #000;
}

.home-content#content {
  width: 100%;
}

.home-content #banner {
  background: url(../images/pages/home/banner-background_1.png) no-repeat;
}

.home-content #slider .invisibleslides {
  display: none;
}

.home-content #slider .slides-container .slides_control {
  max-width: 2010px;
}

.home-content div.slides {
  width: 100%;
  height: 280px;
  padding-top: 20px;
}

.home-content div.slides a {
  display: block;
}

.home-content div.slides p {
  font-size: 90%;
}

.home-content #slide-1 {
  background: url(../images/pages/home/slide-1_1.png) 18.5% .9375em no-repeat;
}

.home-content #slide-1 h1 {
  width: 14%;
}

.home-content #slide-1 p {
  width: 15%;
}

.home-content #slide-1 a.learn-more {
  padding-top: 10px;
}

.home-content #slide-2 {
  background: url(../images/pages/home/slide-2_1.png) 18.5% .9375em no-repeat;
}

.home-content #slide-2 h1 {
  width: 18%;
}

.home-content #slide-2 p {
  width: 15%;
}

.home-content #slide-3 {
  background: url(../images/pages/home/slide-3_1.png) 16.5% .75em no-repeat;
}

.home-content #slide-3 h1,
.home-content #slide-3 p {
  width: 15%;
}

.home-content #slide-4 {
  background: url(../images/pages/home/slide-4_1.png) 15% .9375em no-repeat;
}

.home-content #slide-4 h1 {
  width: 15%;
}

.home-content #slide-4 p {
  width: 10%;
}

.home-content #slide-5 {
  background: url(../images/pages/home/slide-5_1.png) 16% .9375em no-repeat;
}

.home-content #slide-5 p {
  width: 15%;
}

.home-content .slides-pagination {
  margin-top: 0;
}

.home-content .slides-pagination li {
  display: block;
  list-style: none;
  margin: 0 5px;
  float: left;
  background: #dedede;
}

.home-content .slides-pagination li a {
  border-radius: 2px;
  display: block;
  padding: 5px;
  line-height: 5px;
}

.home-content .slides-pagination li a:hover {
  text-decoration: none;
}

.home-content .slides-pagination li.current a {
  background: #e98024;
}

.home-content #open-account {
  background: #e98024;
  border-radius: 0 0 4px 4px;
  color: #FFF;
  text-align: center;
  padding: 0 0 10px;
}

.home-content #open-account p {
  line-height: 2em;
  margin: 0;
  background: #15212d;
  font-size: 72%;
}

.home-content #open-account form {
  font-size: 74%;
}

.home-content #open-account #virtual-fields {
  margin: 4px 0;
}

.home-content #open-account #virtual-fields input,
.home-content #open-account #virtual-fields select {
  border-radius: 3px;
  width: 90%;
  padding: 0;
}

.home-content #open-account #virtual-fields .acc-input {
  margin: 5px 0;
  width: 100%;
  display: inline-block;
}

.home-content #open-account input[type=submit] {
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background: #2a3052;
  padding: 9px 10.83333%;
  border: 0;
  white-space: normal;
}

.home-content #open-account input[type=submit]:visited {
  color: #fff;
}

.home-content #open-account input[type=submit]:active,
.home-content #open-account input[type=submit]:hover {
  text-decoration: none;
  background-color: #14602B;
}

.home-content #help {
  background: #f2f2f2;
}

.home-content #help #experienced-trader,
.home-content #help #new-trader {
  background: url(../images/pages/home/stripe_1.png);
  border-radius: 10px;
}

.home-content #help #experienced-trader img.responsive,
.home-content #help #new-trader img.responsive {
  width: 50%;
}

.home-content #help #experienced-trader {
  margin-top: 20px;
}

.home-content #help #trading-steps img.responsive {
  max-width: 85%;
}

.home-content #help #how-it-works-4,
.home-content #help #trading-steps p {
  text-align: center;
}

.home-content #help #how-it-works-4 p {
  margin-top: 20px;
  margin-bottom: 1em;
}

.home-content #ticker-container {
  clear: both;
}

.home-content #ticker-container #hometicker {
  background: #dedede;
  height: 38px;
  border-bottom: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
}

.home-content #ticker-container #hometicker ul {
  font-size: 90%;
  margin: 0;
}

.home-content #ticker-container #hometicker ul li {
  padding-top: 11px;
  margin-right: 30px;
  display: inline;
  width: auto;
  line-height: 1;
}

.home-content #ticker-container #hometicker ul li a.ticker-link {
  color: #000;
}

.home-content #ticker-container #hometicker span.fall {
  color: #c00;
}

.home-content #ticker-container #hometicker span.rise {
  color: #2e8836;
}

.home-content #returns {
  margin: 20px 0 0;
  background: #fff;
}

.home-content #returns #prices {
  border-right: 1px solid #DEDEDE;
}

.home-content #returns #prices,
.home-content #returns #try-now {
  display: inline-block;
  text-align: center;
}

.home-content #returns #prices h1,
.home-content #returns #try-now h1 {
  font-weight: 100;
  color: #2a3052;
  padding: 4px 0;
  font-size: 230%;
}

.home-content #returns #prices {
  padding-right: 10px;
}

.get-started {
  margin-top: 40px;
  overflow: hidden;
}

.get-started .sidebar-left ul {
  font-size: 90%;
}

.get-started .sidebar-left ul li {
  list-style-image: none;
  margin: 0;
  background: #f2f2f2;
  line-height: 150%;
  border-bottom: 1px solid #FFF;
}

.get-started .sidebar-left ul li:hover {
  background: #dedede;
}

.get-started .sidebar-left ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 10px;
  color: #2a3052;
}

.get-started .sidebar-right div {
  background: #f2f2f2;
  border-bottom: #dedede;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

.get-started .sidebar-right div p {
  margin: 0;
}

.get-started .sidebar-right div a {
  font-weight: 700;
}

.get-started .sidebar-right .open-account {
  padding: 20px;
}

.get-started .sidebar-right .open-account p {
  margin-bottom: 1em;
}

.get-started .sidebar-right .open-account a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  background: #2e8836;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  display: inline-block;
  display: block;
}

.get-started .sidebar-right .open-account a:visited {
  color: #fff;
}

.get-started .sidebar-right .open-account a:active,
.get-started .sidebar-right .open-account a:hover {
  text-decoration: none;
  background-color: #14602B;
}

.get-started dl {
  text-align: center;
}

.get-started dl .section {
  min-height: 210px;
  background: #f2f2f2;
  margin: 0 20px 20px 0;
}

.get-started dl .section-header {
  padding: 10px;
}

.get-started dl .section-info {
  width: auto;
  text-align: center;
  padding: 10px;
  min-height: 50px;
  font-size: 90%;
}

.get-started dl a {
  display: block;
  color: #fff;
  font-weight: 700;
  padding-bottom: .5em;
  text-align: center;
  background: #000;
  text-decoration: none;
  font-size: 90%;
}

.get-started dl a:hover {
  background: #14602b;
}

.get-started dl div#what-is-binary-trading {
  height: 80px;
  background: url(../images/pages/get-started/intro_1.png) no-repeat;
}

.get-started dl div#binary-options-basics {
  height: 80px;
  background: url(../images/pages/get-started/intro_1.png) 100% 0 no-repeat;
}

.get-started dl div#how-to-trade-binaries {
  height: 80px;
  background: url(../images/pages/get-started/intro_1.png) 100% 24% no-repeat;
}

.get-started dl div#types-of-trades {
  height: 80px;
  background: url(../images/pages/get-started/intro_1.png) 0 47% no-repeat;
}

.get-started dl div#benefits-of-trading-binaries {
  height: 80px;
  background: url(../images/pages/get-started/intro_1.png) 0 24% no-repeat;
}

.get-started dl div#beginners-faq {
  height: 80px;
  background: url(../images/pages/get-started/intro_1.png) 0 71% no-repeat;
}

.get-started dl div#glossary {
  height: 80px;
  background: url(../images/pages/get-started/intro_1.png) 100% 71% no-repeat;
}

.get-started dl div#random-trades {
  height: 80px;
  background: url(../images/pages/get-started/intro_1.png) 100% 93% no-repeat;
}

.get-started dl div#smart-indices {
  height: 80px;
  background: url(../images/pages/smart-indices/smart-indices-1.svg) 50% 0 no-repeat;
}

#betpage #content-holder #content {
  width: 100%;
}

#betpage #content-holder #content form fieldset {
  background: 0 0;
}

#betpage #content-holder #content>.content-tab-container {
  width: 100%;
}

#betpage #content-holder #content>.content-tab-container .tab-content-wrapper {
  width: 100%;
  margin: 0 auto;
}

#betpage #content-holder #content>.content-tab-container .tab-content-wrapper #tab_graph-content {
  width: 100%;
}

#betpage #content-holder #content #bet_container {
  margin-bottom: 20px;
}

#betpage #content-holder #content #bet_container fieldset {
  border: 0;
}

#betpage #content-holder #content #bet_container .form_button {
  margin-top: 0;
}

#betpage #content-holder #content #bet_container #betInputBox_container {
  position: relative;
  z-index: 10;
  margin: 0;
}

#betpage #content-holder #content #bet_container #betInputBox_container .tab-content {
  border: 1px solid gray;
  min-height: 369px;
}

#betpage #content-holder #content #bet_container #betInputBox_container .tab-content,
#betpage #content-holder #content #bet_container #betInputBox_container .tab-content-wrapper {
  background-color: transparent;
}

#betpage #content-holder #content #bet_container #betInputBox_container .tab-menu ul#betsTab {
  border-bottom: none;
}

#betpage #content-holder #content #bet_container #betInputBox_container .tab-menu ul#betsTab>li {
  padding: 0;
}

#betpage #content-holder #content #bet_container #betInputBox_container .tab-menu ul#betsTab>li .tm-ul-2 {
  top: 27px;
  margin-top: 0;
}

#betpage #content-holder #content #bet_container #betInputBox_container .tab-menu ul#betsTab>li a.tm-a {
  padding: 0 5px;
  width: auto;
  font-size: 85%;
}

#betpage #content-holder #content #bet_container .unicode-info-icon {
  font-size: 14px;
}

#betpage #content-holder #content #bet_container #bet_calculation_container {
  margin: 0;
  padding: 0;
  position: relative;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .bet-error-box {
  clear: both;
  margin: 27px 0 0 20px;
  padding: 10px;
  width: 380px;
  color: #000;
  background-color: #fef1cf;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .rbox {
  margin: 0;
  padding-bottom: 1.8em;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .rbox .rbox-wrap {
  min-height: 140px;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .rbox .rbox-wrap .bet-error-box {
  margin: 0;
  padding: 1em;
  font-size: .8em;
  width: auto;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .rbox .rbox-wrap .rbox-heading {
  background-color: transparent;
  margin-bottom: 0;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .rbox .rbox-wrap .rbox-heading h4 {
  padding: .7em 0 .7em 4em;
  text-transform: capitalize;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .rbox .rbox-wrap .rbox-heading .rises {
  background: url(../images/pages/trade/rise_1.png) 5% 75% no-repeat;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .rbox .rbox-wrap .rbox-heading .falls {
  background: url(../images/pages/trade/fall_1.png) 5% 75% no-repeat;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .rbox .form_button {
  margin-bottom: 0;
}

#betpage #content-holder #content #bet_container #bet_calculation_container .bet_pricebox_wrapper {
  padding: 0;
  margin: 0;
}

#betpage #content-holder #content #bet_container #bet_cost_container {
  font-size: .8em;
  display: inline-block;
  background: #fff;
}

#betpage #content-holder #content #bet_container #bet_cost_container form {
  width: 40%;
  position: relative;
}

#betpage #content-holder #content #bet_container #spot {
  padding: 1px 2px;
}

#betpage #content-holder #content #bet_container #betInputBox button {
  margin: 1em auto 0;
}

#betpage #content-holder #content #bet_container #betInputBox form {
  margin-top: 21px;
}

#betpage #content-holder #content #bet_container #betInputBox form fieldset {
  background: 0 0;
}

#betpage #content-holder #content #bet_container #betInputBox div {
  clear: both;
  padding: 10px 0;
}

#betpage #content-holder #content #bet_container #betInputBox div.toggle-content {
  margin-top: 0;
}

.stylized_cents {
  font-size: 65%;
  vertical-align: text-top;
  margin-left: .02em;
  margin-right: .1em;
}

.stylized_currency {
  font-size: 75%;
  text-align: left;
}

.stylized_price {
  font-weight: 700;
  font-size: 150%;
}

.bet_cost {
  text-align: center;
  width: 40%;
  float: left;
  margin: 0 5px 5px;
}

.bet_description {
  width: 55.5%;
  float: right;
  padding: 0 3px 3px 0;
}

.bet_description strong:first-child {
  font-size: 130%;
}

.bet_return {
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: #dedede;
  line-height: 1.8em;
  font-size: .7em;
  white-space: nowrap;
  bottom: 0;
}

.price_box {
  padding: 0;
  margin-top: 20;
  border: 1px solid gray;
}

.price_box a {
  color: #2a3052;
}

.price_box_first {
  margin-top: 26px;
  margin-bottom: 20px;
}

.price_box_last {
  position: relative;
  bottom: 0;
  margin-bottom: 0;
}

#bet_bottom_content {
  padding-top: 2em;
}

#bet_bottom_content ul>li {
  list-style-image: none;
}

#bet_bottom_content h4 {
  color: #2a3052;
  font-weight: 700;
  margin: 10px 0;
}

.invisible {
  display: none!important;
}

.hidden {
  visibility: hidden;
}

#content .rbox-heading {
  font-weight: 700;
  background-color: #f2f2f2;
}

#content .rbox-heading h4 {
  font-size: 1em;
  margin: 0;
  padding: .3em 8px;
}

#header_page #content {
  padding-left: 0;
  padding-right: 0;
}

.rbox {
  position: relative;
  margin-bottom: 1em;
}

.rbox-wrap {
  background-color: #fff;
}

.rbox-lowpad {
  padding: 0 0 0 4px;
}

.rbox .form_button {
  margin-bottom: 8px;
}

.bl,
.br,
.tl,
.tr {
  background: url(../images/common/nav/tab_1.png) no-repeat;
  width: 4px;
  height: 4px;
  line-height: 4px;
  position: absolute;
  z-index: 1;
  font-size: 0;
  display: none;
}

.tl {
  background-position: 0 -312px;
  top: -1px;
  left: -1px;
}

.tr {
  background-position: 100% -312px;
  top: -1px;
  right: -1px;
}

.bl {
  background-position: 0 -316px;
  bottom: -1px;
  left: -1px;
}

.br {
  background-position: 100% -316px;
  bottom: -1px;
  right: -1px;
}

input#duration_amount {
  width: 75px;
}

#bet_underlying,
#submarket {
  max-width: 90%;
}

#risefall {
  background-image: url(../images/pages/contract_guide/risefall_icon_1.png);
}

#higherlower {
  background-image: url(../images/pages/contract_guide/higherlower_icon_1.png);
}

#touchnotouch {
  background-image: url(../images/pages/contract_guide/touchnotouch_icon_1.png);
}

#duration_amount {
  width: 95px;
}

#content .paging-navigation .paging-links {
  display: inline-block;
  float: right;
  margin: 0;
}

#content .paging-navigation .paging-links li {
  list-style-image: none;
  display: inline;
  margin: 0;
}

.hasDatepicker {
  width: 95px;
}

table {
  border-collapse: collapse;
  font-size: .9em;
  line-height: 1.5em;
  width: 100%;
}

table * {
  font-size: 1em;
}

table th,
table thead {
  line-height: 1.1em;
  font-weight: 700;
  padding: 3px 8px;
  background: #f2f2f2;
  border-bottom: 1px solid gray;
  vertical-align: middle;
}

table td {
  vertical-align: top;
  border-width: 0 1px;
  padding: 4px;
  border-bottom: 3px solid #f2f2f2;
}

.table-header {
  clear: both;
  overflow: auto;
  font-weight: 700;
  font-size: 90%;
  border-bottom: 1px solid gray;
  background: #F2F2F2;
}

.table-header [class*=grd-grid-] {
  word-wrap: break-word;
  white-space: normal;
}

.table-body {
  clear: both;
  line-height: 1.5em;
  padding-top: 20px;
  font-size: 90%;
  padding-bottom: 0;
}

#cashier-content h3 {
  margin: 10px 0;
}

#int_bank_wire {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -7px -9px no-repeat;
  width: 72px;
  height: 57px;
}

#local_bank_transfer {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -90px -9px no-repeat;
  width: 72px;
  height: 57px;
}

#western_union {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -174px -9px no-repeat;
  width: 72px;
  height: 57px;
}

#citadel {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -257px -9px no-repeat;
  width: 72px;
  height: 57px;
}

#visa {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -338px -10px no-repeat;
  width: 72px;
  height: 57px;
}

#mastercard {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -421px -11px no-repeat;
  width: 72px;
  height: 57px;
}

#cuo-credit-card {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -108px -214px no-repeat;
  width: 72px;
  height: 57px;
}

#moneybrokers {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -8px -72px no-repeat;
  width: 72px;
  height: 57px;
}

#neteller {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -90px -72px no-repeat;
  width: 72px;
  height: 57px;
}

#moneta {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -174px -72px no-repeat;
  width: 72px;
  height: 57px;
}

#webmoney {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -257px -73px no-repeat;
  width: 72px;
  height: 57px;
}

#ukash {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -341px -73px no-repeat;
  width: 72px;
  height: 57px;
}

#qiwi {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -10px -136px no-repeat;
  width: 72px;
  height: 57px;
}

#fastpay {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -12px -429px no-repeat;
  width: 72px;
  height: 57px;
}

#perfect_money {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -106px -428px no-repeat;
  width: 72px;
  height: 57px;
}

#yandex {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -102px -348px no-repeat;
  width: 72px;
  height: 57px;
}

#paysafecard {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -372px -425px no-repeat;
  width: 72px;
  height: 57px;
}

#okpay {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -285px -426px no-repeat;
  width: 72px;
  height: 57px;
}

#cashu {
  background: url(../images/pages/cashier/payment_methods_sprite_1.png) -200px -427px no-repeat;
  width: 72px;
  height: 57px;
}

@media screen and (max-width:768px) {
  #page-wrapper #content .page-section>.tab-menu ul.tm-ul li.active a {
    background: 0 0;
  }
}

#ui-timepicker-div {
  padding: .2em;
}

.ui-timepicker-table {
  display: inline-table;
  width: 0;
}

.ui-timepicker-table table {
  margin: .15em 0 0;
  border-collapse: collapse;
}

.ui-timepicker-hours,
.ui-timepicker-minutes {
  padding: .2em;
}

.ui-timepicker-table .ui-timepicker-title {
  line-height: 1.8em;
  text-align: center;
}

.ui-timepicker-table td,
.ui-timepicker-table th.periods {
  padding: .1em;
  width: 2.2em;
}

.ui-timepicker-table td span {
  display: block;
  padding: .2em .3em .2em .5em;
  width: 1.2em;
  text-align: right;
  text-decoration: none;
}

.ui-timepicker-table td a {
  display: block;
  padding: .2em .3em .2em .5em;
  width: 1.2em;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
}

.grd-container:after,
.grd-container:before,
[class*=grd-grid-][class*=grd-parent]:after,
[class*=grd-grid-][class*=grd-parent]:before {
  content: "";
  display: table;
}

.grd-container:after,
[class*=grd-grid-][class*=grd-parent]:after {
  clear: both;
}

.grd-container,
[class*=grd-grid-][class*=grd-parent] {
  zoom: 1;
}

.grd-container,
[class*=grd-grid-][class*=grd-parent] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grd-grid-1,
.grd-grid-10,
.grd-grid-12,
.grd-grid-2,
.grd-grid-3,
.grd-grid-4,
.grd-grid-5,
.grd-grid-6,
.grd-grid-7,
.grd-grid-8,
.grd-grid-9,
.grd-grid-mobile-12,
.grd-grid-mobile-2,
.grd-grid-mobile-5,
.grd-grid-mobile-7,
.grd-grid-mobile-9,
.grd-grid-phablet-1,
.grd-grid-phablet-10,
.grd-grid-phablet-12,
.grd-grid-phablet-3,
.grd-grid-phablet-7 {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width:400px) {
  @-ms-viewport {
    width: device-width;
  }
}

.grd-grid-1 {
  width: 8.33333%;
}

.grd-grid-2 {
  width: 16.66667%;
}

.grd-grid-3 {
  width: 25%;
}

.grd-grid-4 {
  width: 33.33333%;
}

.grd-grid-5 {
  width: 41.66667%;
}

.grd-grid-6 {
  width: 50%;
}

.grd-grid-7 {
  width: 58.33333%;
}

.grd-grid-8 {
  width: 66.66667%;
}

.grd-grid-9 {
  width: 75%;
}

.grd-grid-10 {
  width: 83.33333%;
}

.grd-grid-12 {
  width: 100%;
}

.grd-hide {
  display: none;
}

.grd-float-left {
  float: left;
}

.grd-clear {
  clear: both;
}

.grd-no-gutter {
  padding-left: 0!important;
  padding-right: 0!important;
}

.grd-no-gutter-left {
  padding-left: 0!important;
}

.grd-no-gutter-right {
  padding-right: 0!important;
}

.grd-parent {
  padding-left: 0!important;
  padding-right: 0!important;
}

.grd-grid-1,
.grd-grid-10,
.grd-grid-12,
.grd-grid-2,
.grd-grid-3,
.grd-grid-4,
.grd-grid-5,
.grd-grid-6,
.grd-grid-7,
.grd-grid-8,
.grd-grid-9,
.grd-grid-mobile-12,
.grd-grid-mobile-2,
.grd-grid-mobile-5,
.grd-grid-mobile-7,
.grd-grid-mobile-9,
.grd-grid-phablet-1,
.grd-grid-phablet-10,
.grd-grid-phablet-12,
.grd-grid-phablet-3,
.grd-grid-phablet-7 {
  float: left;
  direction: ltr;
  padding: 0 10px;
}

@media screen and (max-width:480px) {
  .grd-grid-mobile-2 {
    width: 16.66667%;
  }

  .grd-grid-mobile-5 {
    width: 41.66667%;
  }

  .grd-grid-mobile-7 {
    width: 58.33333%;
  }

  .grd-grid-mobile-9 {
    width: 75%;
  }

  .grd-grid-mobile-12 {
    width: 100%;
  }

  .grd-hide-mobile {
    display: none;
  }

  .grd-show-mobile {
    display: block;
  }

  .grd-no-gutter-mobile {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .grd-centered-mobile {
    display: block!important;
    float: none!important;
    margin-left: auto!important;
    margin-right: auto!important;
    clear: both!important;
  }
}

@media screen and (min-width:481px) and (max-width:767px) {
  .grd-grid-phablet-1 {
    width: 8.33333%;
  }

  .grd-grid-phablet-3 {
    width: 25%;
  }

  .grd-grid-phablet-7 {
    width: 58.33333%;
  }

  .grd-grid-phablet-10 {
    width: 83.33333%;
  }

  .grd-grid-phablet-12 {
    width: 100%;
  }

  .grd-hide-phablet {
    display: none;
  }

  .grd-show-phablet {
    display: block;
  }

  .grd-centered-phablet {
    display: block!important;
    float: none!important;
    margin-left: auto!important;
    margin-right: auto!important;
    clear: both!important;
  }
}

body {
  direction: ltr;
}

.grd-container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 960px;
}

.grd-row-padding {
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.grd-with-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.grd-default-container {
  padding-top: 5px;
  padding-bottom: 5px;
}

.grd-default-container [class*=grd-grid-] {
  padding-top: 5px;
}

.grd-default-container [class*=grd-parent] {
  padding-bottom: 5px;
  padding-top: 0!important;
}

.center-aligned {
  text-align: center;
}

img.responsive {
  width: 100%;
  height: auto;
}

.mm-page {
  -webkit-transition: none .4s ease;
  -moz-transition: none .4s ease;
  -ms-transition: none .4s ease;
  -o-transition: none .4s ease;
  transition: none .4s ease;
  -webkit-transition-property: top,right,bottom,left,border;
  -moz-transition-property: top,right,bottom,left,border;
  -ms-transition-property: top,right,bottom,left,border;
  -o-transition-property: top,right,bottom,left,border;
  transition-property: top,right,bottom,left,border;
}

.mm-menu>.mm-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#mm-blocker {
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
}

.mm-menu {
  background: inherit;
  display: none;
  overflow: hidden;
  height: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
}

.mm-menu>.mm-panel {
  background: inherit;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 0;
}

.mm-menu>.mm-panel.mm-opened {
  left: 0;
}

.mm-menu .mm-list {
  padding: 20px 0;
}

.mm-menu>.mm-list {
  padding: 20px 0 40px;
}

.mm-list,
.mm-list>li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.mm-list {
  font: inherit;
  font-size: 14px;
}

.mm-list a,
.mm-list a:hover {
  text-decoration: none;
}

.mm-list>li {
  position: relative;
}

.mm-list>li>a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  line-height: 20px;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}

.mm-list>li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults)::after {
  content: '';
  border-bottom-width: 1px;
  border-bottom-style: solid;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mm-list>li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after {
  width: auto;
  margin-left: 20px;
  position: relative;
  left: auto;
}

.mm-list a.mm-subopen {
  width: 40px;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.mm-list a.mm-subopen::before {
  content: '';
  border-left-width: 1px;
  border-left-style: solid;
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.mm-list a.mm-subopen+a {
  padding-right: 5px;
  margin-right: 40px;
}

.mm-list a.mm-subopen:after {
  content: '';
  border: 2px solid transparent;
  display: block;
  width: 7px;
  height: 7px;
  margin-bottom: -5px;
  position: absolute;
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mm-list a.mm-subopen:after {
  border-top: none;
  border-left: none;
  right: 18px;
}

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;
}

.mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
  border-color: transparent;
}

.mm-ismenu {
  background: #333;
  color: rgba(255,255,255,.6);
}

.mm-menu .mm-list>li:after {
  border-color: rgba(0,0,0,.15);
}

.mm-menu .mm-list>li>a.mm-subopen:after {
  border-color: rgba(255,255,255,.3);
}

.mm-menu .mm-list>li>a.mm-subopen:before {
  border-color: rgba(0,0,0,.15);
}

.mm-menu {
  width: 80%;
}

@media all and (max-width:175px) {
  .mm-menu {
    width: 140px;
  }
}

@media all and (min-width:550px) {
  .mm-menu {
    width: 440px;
  }
}

.mm-search,
.mm-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.mm-search {
  background: inherit;
  width: 100%;
  height: 50px;
  padding: 10px;
  position: relative;
  top: 0;
  z-index: 2;
}

.mm-search input {
  border: none;
  border-radius: 15px;
  font: inherit;
  font-size: 14px;
  line-height: 30px;
  outline: 0;
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 10px;
}

.mm-menu li.mm-noresults {
  text-align: center;
  font-size: 21px;
  display: none;
  padding-top: 80px;
}

.mm-menu li.mm-noresults:after {
  border: none;
}

.mm-menu.mm-hassearch>.mm-panel {
  padding-top: 60px;
}

.mm-menu .mm-search input {
  background: rgba(255,255,255,.3);
  color: rgba(255,255,255,.6);
}

.mm-menu li.mm-noresults {
  color: rgba(255,255,255,.3);
}

.mm-menu.mm-right {
  left: auto;
  right: 0;
}

.mm-menu.mm-right {
  width: 80%;
}

@media all and (max-width:175px) {
  .mm-menu.mm-right {
    width: 140px;
  }
}

@media all and (min-width:550px) {
  .mm-menu.mm-right {
    width: 440px;
  }
}

.mm-menu.mm-front {
  -webkit-transition: none .4s ease;
  -moz-transition: none .4s ease;
  -ms-transition: none .4s ease;
  -o-transition: none .4s ease;
  transition: none .4s ease;
  -webkit-transition-property: top,right,bottom,left,-webkit-transform;
  -moz-transition-property: top,right,bottom,left,-moz-transform;
  -ms-transition-property: top,right,bottom,left,-o-transform;
  -o-transition-property: top,right,bottom,left,-o-transform;
  transition-property: top,right,bottom,left,transform;
}

.mm-menu.mm-front {
  z-index: 1;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
}

.mm-menu.mm-right.mm-front {
  left: auto;
}

.mm-menu.mm-front {
  left: -80%;
}

@media all and (max-width:175px) {
  .mm-menu.mm-front {
    left: -140px;
  }
}

@media all and (min-width:550px) {
  .mm-menu.mm-front {
    left: -440px;
  }
}

.mm-menu.mm-right.mm-front {
  right: -80%;
}

@media all and (max-width:175px) {
  .mm-menu.mm-right.mm-front {
    right: -140px;
  }
}

@media all and (min-width:550px) {
  .mm-menu.mm-right.mm-front {
    right: -440px;
  }
}
