<h4>[% l("Exit Spot") %]</h4>
<ul>
    <li>[% l("Exit spot is the price in effect at the end time.") %]</li>
    <li>[% l("If you select a start time of \"Now\", the end time is the selected number of minutes/hours/ticks after the start time (if less than one day in duration), or at the end of the trading day (if one day or more in duration).") %]</li>
</ul>
