<h4>[% l("Spread") %]</h4>
<p>
    [% l("The entry spot values for a Spread Up  and Spread Down contracts are separated by a spread, such that :") %]
</p>
<ul>
    <li>[% l("Spread Up Entry Level = Next Spot + Spread/2") %] </li>
    <li>[% l("Spread Down Entry level = Next Spot - Spread/2") %]</li>
</ul>
