<h4>[% l("Spreads") %]</h4>
<p>
    [% l("The entry spot values for a Long  and Short contracts are separated by a spread, such that :") %]
</p>
<ul>
    <li>[% l("Long Entry Level = Next Spot + Spread/2") %] </li>
    <li>[% l("Short Entry level = Next Spot - Spread/2") %]</li>
</ul>
