<h3>[% l("Entry Level") %]</h3>
<p>
    [% l("For long contracts, the entry level is the spot plus half spread and the exit level is spot minus half spread. For short contracts, the entry level is spot minus half spread and the exit level is spot plus half spread.") %]
</p>
<p>
    [% l("The amount of profit/loss per point of rise/fall is multiplied by the amount per point. A large amount per point will result in large profits/losses per point of movement of the index.") %]
</p>
