#main-navigation
  %ul#menu-top
    - my @nav = ({route => '/why-us',      text => l('Why Us?')},
    -            {route => '/get-started', text => l('Get Started')},
    -            {route => '/tour',        text => l('Tour')},
    -            {route => 'trade.cgi',    text => l('Trade')});
    - foreach my $item (@nav) {
      - my ($route, $text) = ($item->{route}, $item->{text});
      - my $class = (index(url_for, $route) != -1) ? 'active' : '';
      %li.$class
        %a{:href=>url_for($route), :class => 'pjaxload'}= $text
    - }
