<body>
    <div id="bodyWrap" style="width:961px;">
        <div id="pageWrap">
            <div id="live-help-button"></div>
            [% footer_html %]
        </div>
    </div>
[% # code_exit will close the body :'( %]
