<h3>Your password has been reset</h3>
<p> Looks like you requested for your backoffice or ldap password to be reset. This has been done. 
To set a new password, please use the link below.
<br><br><a href='[% link %]'>Set new password</a></p><br>( [% link %] )<br><br>
<p><b>Note:</b> Incase you have not requested a password reset, please <b><i>notify</i></b> the <b><i>IT or the Admin</i></b> team immediately.</p>
