<h3>[% l("The First Tick") %]</h3>
<p>
    [% l("The first tick is the first tick after the contract is processed by our servers.") %]
</p>
<p class="hint">
  <strong>[% l("Note") %]: </strong>[% l("Over/Under contracts will be refunded at the purchase price if the contract doesn't end within 5 minutes.") %]
</p>
