[% WRAPPER 'container/full_table.tt' %]
    <thead>
        <caption>[% title %]</caption>
    </thead>
    <tbody>
        [% FOREACH hashref = rows %]
            <tr class="[% IF (loop.index+1) % 2 %]odd[%ELSE%]even[% END %]">
                <td style="width:50%;">[% hashref.label %]</td>
                <td style="width:50%;">[% hashref.value %]</td>
            </tr>
        [% END %]
    </tbody>
[% END %]
