<div id="[% table_id %]" class="rbox[% IF extra_class %] [% extra_class %][% END %]">
    <table>
        [% content %]
    </table>
    <span class="cr"><span class="tl"></span><span class="tr"></span><span class="bl"></span><span class="br"></span></span>
</div>
