%link{:rel => "stylesheet" :type => "text/css" :href => url_for('clientapp/oauth2/callback/default.css')}
%script{:type=>"text/javascript" :src=>url_for('clientapp/oauth2/callback/default.js')}
.callback