<div class="grd-parent grd-grid-5 table-body grd-row-padding">
[% FOREACH currency IN balances.keys.nsort %]
        <div class="grd-grid-6">
                [% currency %] :
        </div>
        <div class="grd-grid-6">
                [% balances.$currency %]
        </div>
[% END %]
</div>
