@import "constants";

/* common styles */
@import "reset";
@import "mixin";
@import "common";
@import "animations";

/* main style */
@import "common/header";
@import "common/footer";
@import "common/nav";
@import "common/exception";
@import "common/reality-check";
@import "common/tooltip";

/* pages */
@import "pages/home.scss";
@import "pages/login.scss";
@import "pages/get-started.scss";
@import "pages/tour.scss";
@import "pages/contact.scss";
@import "pages/trading.scss";
@import "pages/sell_popup.scss";
@import "pages/tabs.scss";
@import "pages/trading/common.scss";
@import "pages/trading/container.scss";
@import "pages/trading/form.scss";
@import "pages/trading/pages.scss";
@import "pages/trading/table.scss";
@import "pages/cashier.scss";
@import "pages/static.scss";
@import "pages/livechart.scss";
@import "pages/timeline.scss";

/* static pages */
@import "static/trade.scss";
@import "static/statement.scss";
@import "static/flex_table.scss";
@import "pages/careers.scss";
@import "pages/about_us.scss";


/* Language based rules */
@import "language_base.scss";

/* media queries */
@import "media-queries";

/* external stylesheets
 * ===================================== */
/* date picker */
@import "external/jquery.ui.timepicker.scss";

/* Grid layout system */
@import "external/grid";
@import "external/mmenu/jquery.mmenu.all";
