/** IMPORTANT
 *  Before modifying or removing any of these colors,
 *  confirm it with design team and ask yourself do we need
 *  any other color except these generic ones as addition
 *  of new color may lead to inconsistent looking UI
 *
 *  Colors are specified with examples where they are used
 */
$BIN_BLACK                      : #000000;
$BIN_WHITE                      : #FFFFFF;
$BIN_ORANGE                     : #E98024; // header border bottom
$BIN_RED                        : #CC0000; // spot fall color
$BIN_YELLOW                     : #FEF1CF; // error background

$BIN_LIGHT_BLUE                 : #29ABE2; // spot rise color
$BIN_BLUE                       : #2a3052; // header color
$BIN_BLUE_SHADE                 : #394171; // header top border color
$BIN_DARK_BLUE                  : #15212d; // topbar color

$BIN_LIGHT_GRAY                 : #F2F2F2; // main menu background color
$BIN_GRAY                       : #DEDEDE; // ticker background color
$BIN_GRAY_SHADE                 : #C2C2C2; // ticker border color
$BIN_DARK_GRAY                  : #808080; // table header border color

$BIN_GREEN                      : #2E8836; // button/links color
$BIN_DARK_GREEN                 : #14602B; // button hover color