/* Specific rules for languages */

/*Japan Language */
body.JA{
	.ja-hide{
		display: none!important;
	}
	.ja-show{
		display: inline!important;
		visibility: visible!important;
	}
	.ja-show-block{
		display: inline-block!important;
		visibility: visible!important;
	}
	.ja-no-padding {
		padding: 0!important;
	}
	#header #menu-top li a.smaller-font, #header ul#menu-top.smaller-font{
		font-size: 90%;
	}
    #asset-forex div.table-header:nth-of-type(n + 3), #asset-forex div.table-body:nth-of-type(n + 15) {
    	display: none!important;
    }
    #tradingtimes-forex div.table-header:nth-of-type(n + 3), #tradingtimes-forex div.table-body:nth-of-type(n + 15) {
    	display: none!important;
    }
    #topMenuHighCharts, #topMenuInteractiveChartid, #risefall_table_lnk, #pricing_table_lnk, #topMenuBetaInterface {
    	display: none!important;
    }
    #footer-regulatory .grd-grid-9, #footer-regulatory .grd-grid-phablet-7 {
    	width: 100%!important;
    }
    #bet_guide_content div:nth-child(1) {
    	display: none!important;
    }
	@media screen and (max-width: 845px) {
		#header #menu-top li a.smaller-font, #header ul#menu-top.smaller-font{
			font-size: 75%;
		}
	}
}
/*Vietnamese Language */
body.VI{
	font-family: arial!important;
	#legal-tab li.tm-li-2 {
		margin-right: 0px!important;
		padding: 0 8px!important;
	}
	ul#betsTab li a.tm-a {
		font-size: 70%!important;
	}
	ul#betsTab li.tm-li {
		margin-right: 3px!important;
	}
	@media screen and (max-width: 930px) {
		ul#betsTab li a.tm-a {
			font-size: 57%!important;
		}
	}
}

/*French Language */
body.FR{
	a, button, .button, span, input {
		text-transform: initial!important;
	}
	h1, h2, h3, h4, h5, h6 {
		text-transform: initial!important;
	}
}

/*Indonesian Language */
body.ID{
	#regulatory-text {
		margin-top:20px;
	}
}