/* Specific rules for languages */
.JA{
	.ja-hide{
		display: none!important;
	}

	.ja-show{
		display: inline!important;
		visibility: visible!important;
	}
	.ja-show-block{
		display: inline block;
		visibility: visible!important;
	}
	#header #menu-top li a.smaller-font, #header ul#menu-top.smaller-font{
		font-size: 90%;
	}
	@media screen and (max-width: 845px) {
		#header #menu-top li a.smaller-font, #header ul#menu-top.smaller-font{
			font-size: 75%;
		}
	}
}

