@media screen and (max-width: 768px) {
 #page-wrapper {
      #content {
          .page-section {
              & > .tab-menu {
                  ul.tm-ul {
                      li {
                          &.active {
                              a {
                                  background: none;
                              }
                          }
                      }
                  }
              }
          }
      }
  }

  #sell_popup_container {
    padding: 0;
    width: 100%;
    max-height: 100%;
    font-size: 70%;
  }
  #footer-regulatory{
    #social-networks{
      text-align: center;
    }
  }
}
