<div id="paymentagent_deposit" class="grd-grid-12">
    <h1>[% l("How to use a payment agent?") %]</h1>
    <p>
        [% l("You can use an authorized payment agent to process deposits and withdrawals for payment methods or local currencies not supported by [_1]. It's easy to do.", website) %]
    </p>
    <ol>
        <li>[% l("Check out the payment methods accepted by the payment agents in the list below.") %]</li>
        <li>[% l("Choose the payment method you'd like to use.") %]</li>
        <li>[% l("Contact the payment agent directly for more information on how to transfer money to them.") %]</li>
        <li>[% l("Send your funds to the payment agent. The deposited funds, less the agent's commission, will show up in your account.") %]</li>
    </ol>
    <form action="[% request.url_for('/cashier/payment_agent_list') %]">
        <input name="l" type="hidden" value="[% language %]"/>
        <p>
            [% l('Show payment agents for:') %]
            <select name="target_country" onchange="this.form.submit()">
                [% FOREACH pa_country IN all_pa_countries %]
                <option value='[% pa_country.0 %]'[% IF pa_country.0 == target_country +%] selected="selected"[% END %]>[% pa_country.1 %]</option>
                [% END %]
            </select>
        </p>
    </form>
    [% IF payment_agent_table_row.size %]
    [% INCLUDE cashier/available_payment_agents_list.html.tt %]
    [% ELSE %]
    <p id="no_paymentagent">[% l('There are no available Payment Agents.') %]</p>
    [% END %]
    <p>
        [% l('Apply to become a [_1] <a class="pjaxload" href="[_2]">payment agent</a>.', website, apply_payment_agent_url) %]
    </p>
    <p class="comment">
        [% l("<strong>IMPORTANT DISCLAIMER</strong> - [_1] is not affiliated with any of the payment agents listed above. Each payment agent operates as an independent service provider and is not endorsed, guaranteed or otherwise approved by [_1]. CUSTOMERS DEAL WITH PAYMENT AGENTS AT THEIR SOLE RISK AND PERIL. Customers are advised to check the credentials of payment agents before sending them any money. [_1] shall not in any circumstance be held responsible for transactions made between customers and payment agents.", website) %]
    </p>
</div>
