<div class="grd-grid-12">
<h1>[% l('Payment Agent transfer') %]</h1>

[% IF show_process_button %]

<p>[% l('Please confirm the transaction details in order to complete the transfer:') %]</p>
<p>[% l('Transfer to: [_1]<br/>Login ID: [_2]<br/>Amount: [_3] [_4]', client_to.full_name, loginid_to, currency, amount) %]</p>

[% transfer_form.build_confirmation_button_with_all_inputs_hidden() %]

[% ELSIF is_success %]

[% gtm_code %]
<p>[% l('Your request to transfer [_1] [_2] from [_3] to [_4] has been successfully processed.', currency, amount, loginid_fm, loginid_to) %]</p>
<p>
    <a class="button" href="[% request.url_for('/user/statementws', {currency => $currency}) %]">
        <span class="button">[% l('View your statement') %]</span>
    </a>
</p>

[% ELSE %]
<p>[% l('Please fill in the Login ID and Amount you wish to transfer to your Client in the form below:') %]</p>

<div id="paymentagent_transfer">
[% transfer_form.build() %]
</div>

<div id="paymentagent_transfer_notes">
    <div>[% l('Notes:') %]</div>
    <ul>
        <li>[% l('[_1] does not charge any transfer fees.', request.website.display_name) %]</li>
        <li>[% l('Once you click the \'Submit\' button, the funds will be withdrawn from your account and transferred to your Client\'s [_1] account.', request.website.display_name) %]</li>
        <li>[% l('Your Client will receive an email notification informing him/her that the transfer has been processed.') %]</li>
    </ul>
</div>
[% END %]

</div>
