<h1>[% l('Apply to become Payment Agent') %]</h1>

[% IF is_success %]

<p>[% l('Thank you. Your application has been submitted and will be examined by our team as soon as possible. You will receive a reply by email within 72 hours.') %]</p>

<div class="centerText">
    <a href="[% request.url_for('/user/my_accountws') %]" class="button"><span class="button">[% l('Home') %]</span></a>
</div>

[% ELSE %]

<div class="grd-row-padding">
[% IF form %]
[% form.build() %]
[% END %]
</div>
<div>[% l('Notes:') %]</div>
<div id="payment-agent-registration">
    <ul>
    <li>[% l('For security reasons, please note that Payment Agent accounts will only be able to deposit via Bank Wire.') %]</li>
    <li>[% l('Provide us with the following documentation:') %]
        <ul class="checked">
            <li>[% l('Verification of identity') %]</li>
        </ul>
        <ul class="circles">
            <li>[% l('Current signed Passport') %], [%+ l('or') %]</li>
            <li>[% l('Current photocard Driving Licence (Provisional or Full)') %]</li>
        </ul>
        <ul class="checked">
            <li>[% l('Proof of address') %]</li>
        </ul>
        <ul class="circles">
            <li>[% l('Utility bill (within last 3 months)') +%], [%+ l('or') %]</li>
            <li>[% l('Bank/Credit Union/Building Society/Credit/Debit Card statement or passbook (within last 3 months).') %]</li>
        </ul>
    </li>
    <li>[% l('Please note that mobile telephone bills are not acceptable as evidence of address') %]</li>
    </ul>

    [% IF mlt_company_address.size %]
    <p class="no_margin">[% l('Please post the documents to:') %]</p>
    <p><strong>[% mlt_company.name %]<br />
        [% mlt_company_address.join('<br/>') %]
       </strong>
    </p>
    [% END %]
</div>
[% END %]
