<p>[% l("These options are based on the average of the underlying asset price at pre-specified periods. The contracts are settled by comparing the pre-determined spot value against this calculated average.") %]
</p>
<p>
    [% l("If you select \"Asian Up\", you win the payout if the <strong>exit spot</strong> is strictly higher than the <strong>average</strong> of the underlying asset price at pre\-specified periods.") %]
</p>
<p>
    [% l("If you select \"Asian Down\", you win the payout if the <strong>exit spot</strong> is strictly lower than the <strong>average</strong> of the underlying asset price at pre\-specified periods.") %]
</p>
