<p>
    [% l("If you select '<strong>Spread Up</strong>', your profits will increase with every point up move after the start of the contract and losses will increase with every point down move after the start of the contract.") %]
</p>
<p>
    [% l("Similarly for '<strong>Spread Down</strong>' contracts, your profits will increase with every point down move after the start of the contract and losses will increase with every point up move after the start of the contract.") %]
</p>
<p>
    [% l("The profit/loss for such contracts are limited by the stop loss/profit selected by you.") %]
</p>
