#androidApp {
  width: 140px;
  height: 42px;
  display: inline-block;
  background: url("../images/pages/trade/google-play-badge.png") no-repeat;
  background-size: 140px 40px;
  position: relative;
}

/* trading page */
#trading_socket_container {
    #androidApp {
        float: if($LANGUAGE_DIRECTION == ltr, right, left);
    }
    @media (max-width: 768px) {
        #androidApp {
          margin: 0 auto;
          padding-bottom: 10px;
          display: block!important;
          float: none;
        }
    }
}
