.api_token {
    table td {
		text-align: center!important;
        vertical-align: middle!important;
	}
}

@media screen and (max-width: 480px) {
	.api_token {
	    table td, table th {
			font-size: 80%;
		}
		table button {
			font-size: 80%;
			padding: 10px 15px;
		}
		.errorfield {
			font-size: 80%!important;
		}
	}
}
