.career {
    .xquote {
    	background-color: #F2F2F2;
    	padding: 20px 20px;
    	margin: 30px 0;
    	div {
    	    overflow: hidden;
    	    .picture {
    	        float: left;
    		padding-right: 20px;
    		width: 15%;
    	    }
    	    .text {
    	    	margin-top: 5%;
    	    }
    	}
    }
    @media screen and (max-width: 767px) {
    	.xquote {
    	    .text {
    		margin-top: 2%!important;
    	    }
    	}
    }
}
