.contact-content {
    .address-heading {
        color: $COLOR_ORANGE;
        font-weight: bold;
        margin-bottom: 5px;
    }
    p.no-para-margin {
        margin: 0;
    }
    .hr-line{
    	border-bottom: 1px solid #dedede
    }
}
