/* HOME PAGE RULES */
.home2-content#content {
  width: 100%;
}
.home2-content {
   #banner {
    background: url("../images/pages/home/banner-background_1.png") no-repeat 0 0;
   }
   .xtopseparator{
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(68,72,76,0.5), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(68,72,76,0.5), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(68,72,76,0.5), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(68,72,76,0.5), rgba(0,0,0,0));
    display: block!important;
   }
  #open-account {
    background: $COLOR_ORANGE;
    color: $COLOR_WHITE;
    text-align: center;
    border-radius: 0;
    margin-top: 70px;
    text-align: center;
    padding: 0 0 10px;
    h3 {
      background: $COLOR_DARK_BLUE;
      color: $COLOR_WHITE;
      padding: 15px 10px;
    }
    #virtual-fields {
        input, select, textarea {
            border-radius: 3px;
            margin-top:10px;
            padding: 0px;
        }
    }
    input[type=submit] {
      @include link-button;
      width: 78%;
      background: $COLOR_BLUE;
      padding: 9px 10.83333%;
      margin-top: 0;
      margin-bottom: 15px;
      border: 0;
      white-space: normal;
      font-size: 18px;
      &:hover {
                text-decoration: none;
                background-color: $COLOR_DARK_GREEN;
            }
    }
    form {
        font-size: 100%;
        margin: 5px 20px;
    }
    #signup_error {
        background: $COLOR_ORANGE;
        color: $COLOR_WHITE;
        font-size: 85%;
    }
  }
#xsection1 {
  padding: 30px 0;
  display: inline-block;
  ul li {
    padding-left: 10px;
    margin: 1em 0 0;
    span {
      color: $COLOR_GREEN;
      font-weight: 700;
    }
    i {
      color: $COLOR_ORANGE;
    }
  }
  h1 {
    margin-top:20px;
  }
}

#xreason, #xacademy, #xtestimonial {
    padding-top: 10px;
    padding-bottom: 10px;
}
#xreason{
    background-color: $COLOR_LIGHT_GRAY;
}
#xtop {
    padding-top: 30px;
    padding-left: 10px;
    text-align: center;
    line-height: 1.5;
    p {
      font-size: 110%;
    }
    ul li {
      display: inline;
      margin-left: 10px;
    }
}
.break {
    margin-top: 30px;
}
.no-break {
    margin-top: 10px;
}
.boldtop {
    font-size: 170%;
}
#xbadges {
    img {
        text-align: center;
        max-width: 100px;
        position: relative;
        top: 50px;
        margin-right: 20px;
    }
    text-align: center;
}
.xhead {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $COLOR_GRAY;
}
.inlined {
    display: inline-block;
}
.xlist1 {
    background: url(../images/pages/home/xicon-1.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist2 {
    background: url(../images/pages/home/xicon-2.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist3 {
    background: url(../images/pages/home/xicon-3.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist4 {
    background: url(../images/pages/home/xicon-4.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xcta {
    position: relative;
    bottom: 30px;
    text-align: center;
    .xreal {
        margin-right: 10px;
        span {
            padding: 10px 25px;
        }
    }
    .xvirtual span {
        background-color: $COLOR_BLUE;
        padding: 10px 25px;
        &:hover {
            text-decoration: none;
            background-color: $COLOR_DARK_GREEN;
        }
    }
}
.xquote {
    background-color: $COLOR_LIGHT_GRAY;
    padding: 20px 40px;
    p {
        font-style: italic;
    }
}
.xbubble-right {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 5px 0 10px;
    border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
    position: relative;
    left: 80%;
}
.xbubble-left {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 10px 0 5px;
    border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
    position: relative;
    left: 10%;
}
.xquoter-left {
    text-align: left;
}
.xquoter-right {
    text-align: right;
}

#virtual-acc-form {
    input, select {
        width: 70%;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px !important;
        font-size: 14px;
    }
}
#xacademy{
    .head-academy{
        margin-bottom: 10px;
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dedede; 
    }
    ul{
        margin-top: 20px;
        margin-left: 10px;
    }
    img{
        max-width: 180px;
    }
    .academy-cta{
        margin-top:20px;
        margin-bottom: 0;
    }
}

.xtopcta {
    display: inline-block;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px!important;
}
.xquoter-left p span, .xquoter-right p span {
    font-size: 12px;
    font-style: italic;
}
#xpayment a:hover{
  text-decoration: none;
}
}

@media screen and (max-width: 767px) {
    .home2-content{
        #xtop {
            padding-top: 30px;
            padding-left: 0;
            line-height: 1;
            ul li {
              margin-left: 5px;
            }
        }
        .break {
          margin-top: 20px;
          margin-bottom: 5px;
        }
        .no-break {
          margin-top: 0px;
        }
        .xhead2 {
            margin-top: 30px;
        }
        #open-account {
            margin-left: 0;
            margin-top: 20px;
            padding:0;
            h3 {
                background: $COLOR_DARK_BLUE;
                color: $COLOR_WHITE;
                padding: 10px;
            }
            input[type=submit] {
                width: 86% !important;
            }
            form {
                margin: 5px 5px;
            }
        }
        #residence {
        width: 86% !important;
        }
        .virtual-acc-left {
            width: 80% !important;
            margin-right: 0;
        }
        .xtopcta {
            width: 80%;
        }
        .xtestimonial h1, .xhead {
            padding: 10px;
        }
        #xsection1 {
            padding: 10px 0;
        }
        .xcta {
            position: initial;
            .xreal {
                margin-right: 0px;
                span {
                    font-weight: 300;
                    padding: 20px 20px;
                    width: 60%;
                    margin: 10px 0;
                }
            }
            .xvirtual span {
                background-color: $COLOR_BLUE;
                font-weight: 300;
                padding: 20px 20px;
                width: 60%;
            }
        }
    }
}
