/* HOME PAGE RULES */
.home2-content#content {
  width: 100%;
}
.home2-content {
   #banner {
    background: url("../images/pages/home2/map.png") repeat 0px 0px;   
    background-size: contain;
   }
   .q-topseparator{
    height: 32px;
    border: 0px none;
    box-shadow: 0px 32px 32px -32px rgba(120, 120, 120, 0.5) inset;
    display: block!important;
   }
  #open-account {
    color: $COLOR_WHITE;
    text-align: center;
    border-radius: 0;
    padding: 5px 0;
    margin-top: 10px;
    text-align: center;
    width:100%;
    background-color: rgba(165, 165, 165, 0.20);
    border-top:1px solid $COLOR_GRAY;
    border-bottom:1px solid $COLOR_GRAY;
   p {
      line-height: 2em;
      margin: 0;
      font-size: 100%;
      color:$COLOR_BLACK;
    }
    #virtual-fields {
        display:block;
        margin:10px;
        input, select, textarea {
            border-radius: 3px;
            margin-right: 20px;
            margin-left:20px;   
        }
    }
    input[type=submit] {
      @include link-button;
      background: $COLOR_BLUE;
      border: 0;
      white-space: normal;
      font-size:18px;
      display:inline;
        padding:10px;
        margin-bottom: 0;
      &:hover {
                text-decoration: none;
                background-color: $COLOR_DARK_GREEN;
            }
    }
    form {
        font-size: 100%;
        display:inline;
    }
  }
#q-section1 {
  padding: 30px 0;
  display: inline-block;
  p{
    font-size:110%
  }
  ul li {
    padding-left: 10px;
    margin: 1em 0 0;
    span {
      color: $COLOR_GREEN;
      font-weight: 700;
    }
    i {
      color: $COLOR_ORANGE;
    }
  }
  h1 {
    margin-top:20px;
  }
}

#q-reason {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $COLOR_LIGHT_GRAY;
    padding-bottom: 40px;
}
#q-top {
    padding-top: 50px;
    text-align: center;
    p{
      font-size:110%;
    }
}
#q-badges {
    img {
        text-align: center;
        max-width: 100px;
        position: relative;
        top: 50px;
        margin-right: 20px;
    }
    text-align: center;
}
.q-head {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $COLOR_GRAY;
}
.inlined {
    display: inline-block;
}
.q-head2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $COLOR_GRAY;
}
.q-list1 {
    background: url(../images/pages/home/xicon-1.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.q-list2 {
    background: url(../images/pages/home/xicon-2.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.q-list3 {
    background: url(../images/pages/home/xicon-3.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.q-list4 {
    background: url(../images/pages/home/xicon-4.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.q-cta {
    position: relative;
    bottom: 30px;
    text-align: center;
    .q-real {
        margin-right: 10px;
        span {
            padding: 10px 25px;
        }
    }
    .q-virtual span {
        background-color: $COLOR_BLUE;
        &:hover {
            text-decoration: none;
            background-color: $COLOR_DARK_GREEN;
        }
    }
}
.q-quote {
    background-color: $COLOR_LIGHT_GRAY;
    padding: 20px 40px;
    p {
        font-style: italic;
    }
}
.q-bubble-right {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 5px 0 10px;
    border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
    position: relative;
    left: 80%;
}
.q-bubble-left {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 10px 0 5px;
    border-color: $COLOR_LIGHT_GRAY  transparent transparent transparent;
    position: relative;
    left: 10%;
}
.q-quoter-left {
    text-align: left;
}
.q-quoter-right {
    text-align: right;
}
.q-email, .q-pass {
    display: inline-block;
    padding: 10px !important;
    width: 15%;
    font-size:12px;
    display:inline;
    margin-left: 20px;
    margin-right: 20px;
}
.q-topcta {
    display: inline-block;
    width: 25%!important;
}
.q-quoter-left p span, .q-quoter-right p span {
    font-size: 12px;
    font-style: italic;
}
#q-payment a:hover{
  text-decoration: none;
}
}

@media screen and (max-width: 480px) {
    .home2-content{
        #open-account{
            #virtual-fields{
                input{
                    margin:10px;
                }
            }
        }
        #q-top {
            padding-top: 30px;
        }
        .q-head2 {
            margin-top: 30px;
        }
        .q-email {
            width: 80% !important;
            margin-right: 0;
        }
        .q-pass {
            width: 80% !important;
            margin-left: 0;
            margin-right: 20px;
        }
        .q-topcta {
            width: 80%!important;
        }
        .q-testimonial h1, .q-head {
            padding: 10px;
        }
        #q-section1 {
            padding: 10px 0;
        }
        .q-cta {
            position: initial;
            .q-real {
                margin-right: 0px;
                span {
                    font-weight: 700;
                    padding: 20px 20px;
                    width: 60%;
                    margin: 10px 0;
                }
            }
            .q-virtual span {
                background-color: $COLOR_BLUE;
                font-weight: 700;
                padding: 20px 20px;
                width: 60%;
            }
        }
    }
}




