/* HOME PAGE RULES */
.home-content#content {
  width: 100%;
}
.home-content {
   #banner {
    background: url("../images/pages/home/banner-background_1.png") no-repeat 0 0;
   }
  #open-account {
    background: $BIN_ORANGE;
    color: $BIN_WHITE;
    text-align: center;
    border-radius: 0;
    margin-top: 10px;
    text-align: center;
    padding: 0 0 0;
    p {
      line-height: 2em;
      margin: 0;
      padding: 5px 5px;
      background: $BIN_DARK_BLUE;
      font-size: 100%;
    }
    #virtual-fields {
        input, select, textarea {
            border-radius: 3px;
            width: 90%;
            padding: 0px;
        }
        margin: 4px 0;
    }
    input[type=submit] {
      @include link-button;
      background: $BIN_BLUE;
      padding: 9px 10.83333%;
      border: 0;
      white-space: normal;
      font-size:18px;
      &:hover {
                text-decoration: none;
                background-color: $BIN_DARK_GREEN;
            }
    }
    form {
        font-size: 100%;
    }
  }
  #xreason {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $BIN_LIGHT_GRAY;
    padding-bottom: 40px;
}
#xtop {
    padding-top: 50px;
    text-align: center;
    h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }
}
#xbadges {
    img {
        text-align: center;
        max-width: 100px;
        position: relative;
        top: 50px;
        margin-right: 20px;
    }
    text-align: center;
}
.xhead {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $BIN_GRAY;
}
.inlined {
    display: inline-block;
}
.xhead2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $BIN_GRAY;
}
.xlist1 {
    background: url(../images/pages/home/xicon-1.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist2 {
    background: url(../images/pages/home/xicon-2.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist3 {
    background: url(../images/pages/home/xicon-3.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xlist4 {
    background: url(../images/pages/home/xicon-4.png) no-repeat;
    padding-left: 50px;
    min-height: 24px;
    background-size: 30px;
}
.xcta {
    position: relative;
    bottom: 30px;
    text-align: center;
    .xreal {
        margin-right: 10px;
        span {
            border-radius: 0;
            padding: 20px 20px;
        }
    }
    .xvirtual span {
        background-color: $BIN_BLUE;
        border-radius: 0;
        padding: 20px 20px;
        &:hover {
            text-decoration: none;
            background-color: $BIN_DARK_GREEN;
        }
    }
}
.xquote {
    background-color: $BIN_LIGHT_GRAY;
    padding: 20px 40px;
    p {
        font-style: italic;
    }
}
.xbubble-right {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 5px 0 10px;
    border-color: $BIN_LIGHT_GRAY  transparent transparent transparent;
    position: relative;
    left: 80%;
}
.xbubble-left {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px 10px 0 5px;
    border-color: $BIN_LIGHT_GRAY  transparent transparent transparent;
    position: relative;
    left: 10%;
}
.xquoter-left {
    text-align: left;
}
.xquoter-right {
    text-align: right;
}
.xemail, .xpass {
    width: 35% !important;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px !important;
    font-size: 16px;
}
.xemail {
    margin-right: 20px;
}
.xpass {
    margin-left: 20px;
}
.xtopcta {
    display: inline-block;
    width: 50% !important;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px !important;
    border-radius: 0 !important;
}
.xquoter-left p span, .xquoter-right p span {
    font-size: 12px;
    font-style: italic;
}
}

@media screen and (max-width: 480px) {
    #xtop {
        padding-top: 30px;
    }
    .xhead2 {
        margin-top: 30px;
    }
    .xemail {
        width: 80% !important;
        margin-right: 0;
    }
    .xpass {
        width: 80% !important;
        margin-left: 0;
    }
    .xtopcta {
        width: 80%;
    }
    .xtestimonial h1, .xhead {
        padding: 10px;
    }
    .xcta {
        position: initial;
        .xreal {
            margin-right: 0px;
            span {
                font-weight: 700;
                border-radius: 0;
                padding: 20px 20px;
                width: 60%;
                margin: 10px 0;
            }
        }
        .xvirtual span {
            background-color: $BIN_BLUE;
            font-weight: 700;
            border-radius: 0;
            padding: 20px 20px;
            width: 60%;
        }
    }
}
