/* HOME PAGE 2 RULES */
.home2-content #content{width:100%}
.home2-content #open-account{border-radius:0;margin-top: 10px;background: #e98024;color: #FFF;text-align: center;padding: 0 0 0;} 
.home2-content #open-account p{font-size: 100%;font-weight: bold;line-height: 2em;margin: 0;background: #15212d;}
.home2-content #open-account #virtual-fields{margin: 4px 0;}
.home2-content #open-account #virtual-fields input, .home2-content #open-account #virtual-fields select, .home2-content #open-account #virtual-fields textarea{border-radius: 3px;width: 90%;padding: 0;}
.home2-content #open-account input[type=submit]{color: #fff;text-decoration: none;text-align: center;line-height: 100%;border-radius: 4px;font-weight: 700; text-transform: uppercase;display: inline-block; background: #2a3052;padding: 9px 10.83333%; border: 0; white-space: normal;}
.home2-content #banner{background: url(../images/pages/home/banner-background_1.png) no-repeat;}
.home2-content #open-account form{font-size:100%;}
#xreason {padding-top:20px; padding-bottom:20px;}
#xreason{background-color:#f2f2f2;padding-bottom:40px;}
#xtop{padding-top:50px;text-align:center;} 
#xtop h1{font-size:40px;margin-bottom:30px;}
#xcta{} 
#xbadges img{text-align:center;max-width:100px;position:relative;top:50px;margin-right:20px;} 
#xbadges{text-align:center}
.xhead{margin-bottom:20px; margin-top:30px;padding-bottom: 15px;border-bottom: 1px solid #dedede;}
.inlined{display:inline-block}
.xhead2{margin-top: 0px;margin-bottom: 20px; padding-bottom: 15px;border-bottom: 1px solid #dedede;}
.xlist1{background:url(../images/pages/home2/xicon-1.png) no-repeat; padding-left:50px; min-height:24px;background-size:30px;}
.xlist2{background:url(../images/pages/home2/xicon-2.png) no-repeat; padding-left:50px; min-height:24px;background-size:30px;}
.xlist3{background:url(../images/pages/home2/xicon-3.png) no-repeat; padding-left:50px; min-height:24px;background-size:30px;}
.xlist4{background:url(../images/pages/home2/xicon-4.png) no-repeat; padding-left:50px; min-height:24px;background-size:30px;}
.xcta{position:relative;bottom:30px;text-align:center;}
.xcta .xreal{margin-right:10px;}
.xcta .xreal span{font-weight: 700;border-radius:0;padding: 20px 20px;}
.xcta .xvirtual span{background-color:#2a3052;font-weight: 700;border-radius:0;padding: 20px 20px;} 
.xquote{background-color:#f2f2f2; padding: 20px 40px;} 
.xquote p{font-style:italic;} 
.xbubble-right{content:''; width:0px;height:0px;border-style:solid;border-width: 25px 5px 0 10px; border-color: #f2f2f2 transparent transparent transparent;position:relative;left:80%} 
.xbubble-left{content:''; width:0px;height:0px;border-style:solid;border-width: 25px 10px 0 5px; border-color: #f2f2f2 transparent transparent transparent;position:relative;left:10%} 
.xquoter-left{text-align:left;} 
.xquoter-right{text-align:right;} 
.xemail, .xpass{width:35%!important;display:inline-block;margin-top: 20px; margin-bottom:10px;padding: 10px!important;}
.xemail{margin-right:20px;} .xpass{margin-left:20px;}
.xtopcta{display:inline-block;width:70%!important;margin-top: 10px; margin-bottom:20px;padding: 20px!important;border-radius: 0!important;} 
.xquoter-left p span{font-size:12px;font-style:italic;} 
.xquoter-right p span{font-size:12px;font-style:italic;}
@media screen and (max-width: 480px){
#xtop{padding-top:30px}
.xhead2{margin-top:30px;}
.xemail {width:80%!important;margin-right:0;}
.xpass {width:80%!important;margin-left:0;}
.xtopcta{width:80%} 
.xtestimonial h1{padding:10px;}
.xhead{padding:10px;}
.xcta{position:initial;}
.xcta .xreal{margin-right:0px;}
.xcta .xreal span{font-weight: 700;border-radius:0;padding: 20px 20px; width:60%;margin:10px 0;}
.xcta .xvirtual span{background-color:#2a3052;font-weight: 700;border-radius:0;padding: 20px 20px; width:60%}
}

