/* HOME PAGE RULES */
.home-content#content {
  width: 100%;
}
.home-content {
   #banner {
    background: url("../images/pages/home/banner-background_1.png") no-repeat 0 0;
   }
  #slider {
    .invisibleslides {
        display: none;
    }
    .slides-container {
        .slides_control {
            max-width: 2010px;
        }
    }
  }
  div.slides {
    width: 100%;
    height: 280px;
    padding-top:20px;
    a { display:block }
    p { font-size: 90% }
  }
  #slide-1 {
    background: url("../images/pages/home/slide-1_1.png") no-repeat 18.5% 0.9375em;
    h1 {
      width: 14%;
    }
    p {
      width: 15%;
    }
    a.learn-more { padding-top:10px; }
  }
  #slide-2 {
    background: url("../images/pages/home/slide-2_1.png") no-repeat 18.5% 0.9375em;
    h1 {
      width: 18%;
    }
    p {
      width: 15%;
    }
  }
  #slide-3 {
    background: url("../images/pages/home/slide-3_1.png") no-repeat 16.5% 0.75em;
    h1 {
      width: 15%;
    }
    p {
      width: 15%;
    }
  }
  #slide-4 {
    background: url("../images/pages/home/slide-4_1.png") no-repeat 15% 0.9375em;
    h1 {
      width: 15%;
    }
    p {
      width: 10%;
    }
  }
  #slide-5 {
    background: url("../images/pages/home/slide-5_1.png") no-repeat 16% 0.9375em;
    h2 {
      margin-bottom: 0.5em;
    }
    p {
      width: 15%;
    }
  }

  .slides-pagination {
    margin-top: 0;
    li {
      display: block;
      list-style: none;
      margin: 0 5px;
      float: left;
      background: $COLOR_GRAY;
      a {
	border-radius: 2px;
        display: block;
        padding: 5px;
	line-height:5px;
        &:hover {
            text-decoration: none;
        }
      }
    }
    li.current a {
      background: $COLOR_ORANGE;
    }
  }
  #open-account {
    background: $COLOR_ORANGE;
    border-radius: 0 0 4px 4px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 0 10px;
    p {
      line-height: 2em;
      margin: 0;
      padding: 5px 0;
      background: $COLOR_DARK_BLUE;
      font-size: 72%;
    }
    form {
        font-size: 74%;
    }
    #virtual-fields {
        input, select, textarea {
            border-radius: 3px;
            width: 90%;
            padding: 0px;
        }
        margin: 4px 0;
        .acc-input {
            margin: 10px 0;
            width: 100%;
            display: inline-block;
        }
    }
    input[type=submit] {
      @include link-button;
      background: $COLOR_BLUE;
      padding: 9px 10.83333%;
      border: 0;
      white-space: normal;
    }
  }
  #help {
        clearfix { clear:both; visibility:hidden; content:'.' }
        background: $COLOR_LIGHT_GRAY;
        #new-trader, #experienced-trader {
          background: url("../images/pages/home/stripe_1.png") repeat;
          border-radius: 10px;
          img.responsive {
            width: 50%;
          }
        }
        #experienced-trader {
            margin-top: 20px;
        }
        #trading-steps {
          img.responsive {
              max-width: 85%;
          }
          p {
              text-align: center;
          }
        }
        #how-it-works-4 {
          text-align: center;
          p {
            margin-top: 20px;
            margin-bottom: 1em;
          }
        }
    }
  #ticker-container {
      clear:both;
      #hometicker {
        background: $COLOR_GRAY;
        height: 38px;
        border-bottom: 1px solid $COLOR_GRAY_SHADE;
        border-top: 1px solid $COLOR_GRAY_SHADE;
        letter-spacing: 1px;
        white-space: nowrap;
        overflow: hidden;
        ul {
          font-size: 90%;
          margin: 0;
          li {
            padding-top:11px;
            margin-right:30px;
            display: inline;
            width: auto;
            line-height:1;
            a.ticker-link {
                color: $COLOR_BLACK;
            }
          }
        }
        span.fall {
          color: $COLOR_RED;
        }
        span.rise {
          color: $COLOR_GREEN;
        }
      }
  }
  #returns {
    margin:20px 0 0 0;
    background: $COLOR_WHITE;
    #prices {
        border-right:1px solid #DEDEDE;
    }
    #prices, #try-now {
      display:inline-block;
      text-align: center;
      h1 { font-weight:100; color: $COLOR_BLUE; padding:4px 0 4px 0; font-size:230%; }
    }
    #prices {
      padding-right:10px;
    }
  }
}
