.row, .row-inner {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.col, .col-inner {
    flex: 1;
}

.vertical-row {
    display: flex;
    flex-direction: column;
}

#contract_container {
    .row {
        padding: 10px 0;
    }
    .col {
        margin-right: 1rem;
    }
    .big-col {
        flex: 2 0 0;
        margin-right: 1rem;
    }
}
