a.dynamic, span.dynamic, div.dynamic, p.dynamic, button.dynamic, table.dynamic {
	display: none!important;
}

#portfolio {
    min-height: 300px;

    td {
    	padding: 10px 30px;
    }

    th {
		padding: 10px 30px;
    	text-align: left;    
    }

    th.details {
    	width: 45%;
	}
}
