!!! 5
%html
  %head
    %link{:rel => "stylesheet" :type => "text/css" :href => url_for('clientapp/oauth2/default.css')}
  %body
    .wrapper
      .header
        .wrapper
      .content
        .wrapper
          %img{:src => url_for('clientapp/logo.svg')}
          = content
      .footer
        .wrapper