- stash(title => l('Password reset'));
.grd-grid-12
  %h1= stash->{title}
  %p= l('Please type your chosen password twice into the fields below:')
  != $new_password_form->build()
  %p= l('Your account is important to us. Please <a href="[_1]">contact us</a> should you need further assistance.', url_for('contact'))
