.dxtrade-mobile-phone {
    height: 397px;
    width: auto;
}

.dxtrade-desktop-screen-app {
    @media screen and (max-width: 480px) {
        & {
            max-width: 100%;
        }
    }
    max-width: 600px;
    height: auto;
}

.dxtrade-browser-icon {
    max-width: 80px;
}

.alternative-download-description {
    margin: 0;
}

.android-description, .ios-description {
    padding: 0 30px;
}

#dxtrade_download {
    .app-store-badge, .google-play-badge {
        height: 56px;
        width: 172px;
    }
}
