- stash(
-   keyword => l('binary options, forex, forex trading, online trading, financial trading, binary trading, index trading, trading indices, forex trades, trading commodities, binary options strategy, binary broker, binary bet, binary options trading platform, binary strategy, finance, stocks, investment, trading'),
-   description => l('[_1] gives everyone an easy and exciting way to participate in the financial markets. Trade with as little as $1 USD on major currencies, indices and commodities.',stash('website_name')),
- );

%head
  - my $route = current_route;
  - my $curr_lang = stash->{language};
  - if ($route eq "home" and $curr_lang eq 'EN') {
    %script{:src => url_for('js/gtm/experimental.js')}
  - }

  %meta{:charset => "utf-8"}
  %meta{:name => "description", :content => stash('description')}
  %meta{:name => "keywords" :content => encode_html_text(stash('keyword'))}
  %meta{:name => "author", :content => stash('website_name')}
  %meta{:name => "dcterms.rightsHolder" :content => stash('website_name')}
  %meta{:name => "dcterms.rights", :content => stash('website_name')}
  %meta{:name => "google-site-verification", :content => "roReCEK-wNa1EMA6ZM9a4zCOQOMqxfJjvfsZMC9qh_k"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
  %meta{:property => "og:title", :content=>"Binary.com"}
  %meta{:property => "og:type", :content=>"website"}
  %meta{:property => "og:image", :content=>url_for('images/common/og_image.gif')}

  %title= stash('website_name') . (stash('title') ? " : ".stash('title'): '')

  %link{:rel=>"icon" :type=>"image/png" :href=>url_for('images/common/favicon_1.ico')}
  /[if IE]
    %link{:rel=>"shortcut icon" :href=>url_for('images/common/favicon_1.ico')}
  %link{:rel=>"apple-touch-icon" :href=>url_for('images/common/apple-touch-icon-57x57_1.png')}
  %link{:rel=>"apple-touch-icon" :sizes=>"72x72" :href=>url_for('images/common/apple-touch-icon-72x72_1.png')}
  %link{:rel=>"apple-touch-icon" :sizes=>"114x114" :href=>url_for('images/common/apple-touch-icon-114x114_1.png')}

  - my $languages = available_languages();
  - my $path = get_current_path();
  - foreach (keys %{ $languages }) {
    - my $complete_path = $path . "?l=" . $_;
    %link{:rel=>"alternate", :hreflang=>$_, :href=>$complete_path}
  - }

  - foreach my $css (css()->files) {
    %link{:rel=>"stylesheet" :href=> $css}
  - }

  = include('layouts/default/javascripts')
