- my $configs = js_configs();

%script{:type => "text/javascript"}
  !=  "window.page_params = { settings: ". $configs->{settings} . "};"

- foreach my $lib (@{ $configs->{libs} }) {
  %script{:src => $lib :defer=>"true"}
- }

%script{:async => "", :defer => "", :src => "https://apis.google.com/js/platform.js"}

:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));