- stash(
-   title => l('[_1]: Online Trading platform for binary options on Forex, Indices, Commodities and Smart Indices',stash('broker_name')),
-   next_link => '/why-us',
-   createacc => l('Create free account'),
- );
- my $lang = stash->{language};
%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
#ybacktop
  #section1
    .ycontent1
      .grd-container
        .grd-grid-12
          .grd-grid-12.center
            %h1 Trading Opsi Binary Termudah dan Terheboh
          .grd-grid-12
            .grd-grid-4.grd-grid-mobile-12.ybenefit1
              %img{:alt => "", :src => url_for('images/pages/home4/$1.png')}
                %p Posisi Trading Mulai $1
            .grd-grid-4.grd-grid-mobile-12.ybenefit1
              %img{:alt => "", :src => url_for('images/pages/home4/type-trade.png')}
                %p Posisi Tepat Meraih Profit
            .grd-grid-4.grd-grid-mobile-12.ybenefit1
              %img{:alt => "", :src => url_for('images/pages/home4/payment-agents-id.png')}
                %p Pilihan Pembayaran Mudah
          .grd-grid-12.center
            .ycta
              .button.pjaxload.yvirtual.pjaxload-focus.login-button
                %span Daftar akun demo sekarang
              .button#xscroll.pjaxload.ylearn.pjaxload-focus
                %span Pelajari lebih lanjut
#section2
  .ycontent2
    .grd-container
      .grd-grid-12.center
        %h1 Trading Sesuai Keinginan Anda
        %p.center Kenapa membatasi diri? Apapun jenis market yang Anda ikuti, Binary.com memberikan keleluasaan dalam menggunakan strategi untuk mendapatkan profit berdasarkan analisa ANDA.
      .grd-grid-12
        .grd-grid-5.grd-grid-mobile-12
          %ul
            %li
              %i.fa.fa-check-square>
              Pilih Hasil dari $1 hingga $100,000
            %li
              %i.fa.fa-check-square>
              Perdagangan semua mata uang utama, indeks, saham, dan komoditas.
            %li
              %i.fa.fa-check-square>
              Pilih Durasi Trading Mulai dari 10 Detik Hingga 365 Hari.
            %li
              %i.fa.fa-check-square>
              Pilih Strategi Anda sendiri.
        .grd-grid-7.grd-grid-mobile-12
          %img.responsive{:alt => "", :src => url_for('images/pages/home4/trade-tutorial1.svg')}/
      .grd-grid-12
        .ystart
          .button.pjaxload.pjaxload-focus.login-button
            %span Mulai trading
#section3
  .ycontent3
    .grd-container
      .grd-grid-12.center
        %h1 Berbagai Jenis Kontrak
      .grd-grid-12
        .grd-grid-6.grd-grid-mobile-12.ytrade
          .grd-grid-4
            %img.responsive{:alt => "", :src => url_for('images/pages/home4/rise-fall.png')}
          .grd-grid-8
            %h3 Naik/Turun
            %p Menganalisa market akan NAIK atau TURUN dari harga spot terkini.
        .grd-grid-6.grd-grid-mobile-12.ytrade
          .grd-grid-4
            %img.responsive{:alt => "", :src => url_for('images/pages/home4/higher-lower.png')}
          .grd-grid-8
            %h3 Lebih Tinggi/Rendah
            %p Menganalisa market akan berakhir LEBIH TINGGI atau RENDAH dari target harga yang telah ditentukan.
        .grd-grid-6.grd-grid-mobile-12.ytrade
          .grd-grid-4
            %img.responsive{:alt => "", :src => url_for('images/pages/home4/touch-notouch.png')}/
          .grd-grid-8
            %h3 Menyentuh/Tidak
            %p Menganalisa market akan MENYENTUH atau TIDAK target harga yang telah ditentukan kapan saja selama periode kontrak berlangsung.
        .grd-grid-6.grd-grid-mobile-12.ytrade
          .grd-grid-4
            %img.responsive{:alt => "", :src => url_for('images/pages/home4/in-out.png')}
          .grd-grid-8
            %h3 Didalam/Keluar
            %p Menganalisa market akan NAIK atau TURUN dari harga spot terkini.
      .grd-grid-12
        .ystart
          .button.pjaxload.pjaxload-focus.login-button
            %span Daftar akun demo
          %a.pjaxload.yreal{:href => "https://www.binary.com/c/linkto_acopening.cgi?actype=real&l=ID", :class => 'button'}
            %span Daftar akun uang riil
        .center
          %i.fa.fa-lock{:style => "color:#e98024"}
            %span{:style => "color:#000;font-size:12px;"} Kami Menghormati Privasi Anda dan Tidak Akan Membagikan informasi data Anda dengan siapapun.
#section4
  .ycontent4
    .grd-container
      .grd-grid-12.center
        %h1 Apa Kata Mereka
      .grd-grid-12
        .grd-grid-6.grd-grid-mobile-12
          %p.yquote Plaform trading Binary.com banyak pilihan dan semuanya powerfull sangat membantu para trader. Untuk program afliasi binary sangat oke, perhitungan canggih, pembayaran tepat waktu berapapun nominalnya hasilnya tetap dibayarkan. Maju dan sukses selalu untuk Binary.com
          %div
            %ul
              %li
                %p.yquoter
                  Rizka Nika
        .grd-grid-6.grd-grid-mobile-12
          %p.yquote Dengan Binary.com saya bisa mendapatkan PROFIT $$ sebagai klien dan affiliasi. Saya seorang pemula waktu dulu di Binary.com. Saya terus belajar dan belajar sampai saat ini dan Alhamdulilah saya bisa mendapatkan PROFIT yang luar biasa. TERUS BERJAYA Binary.com
          %div
            %ul
              %li
                %p.yquoter
                  Denny Widyantini
#section5
  .ycontent5
    .grd-container
      .grd-grid-12.center
        %h1 Metode Pembayaran
        %p Binary.com Menjamin Keamanan Dana Anda.
      .grd-grid-12
        .ypayment
          %img.responsive{:alt => "", :src => url_for('images/pages/home4/payment-agent-icons.png')}/
        %p.ymore
          %a{:href => "https://www.binary.com/cashier/available_payment_methods?l=ID"} Dan Banyak Lagi
      .grd-grid-12.center
        %h2 Agen Pembayaran
        %p Anda dapat menggunakan agen pembayaran resmi Binary.com untuk deposit dan penarikan dana menggunakan berbagai pilihan bank lokal atau metode e-cash yang tidak disediakan oleh Binary.com.
      .grd-grid-12
        .ystart
          .button.pjaxload.pjaxload-focus.login-button
            %span Mulai Trading Sekarang
.overlay.shown.hidden
  .dialog
    %p.yvirtual-money Dapatkan Gratis $10k pada Akun Virtual Anda
    %form#virtual-acc-form{:action => "https://www.binary.com/d/create_account.cgi?l=ID", :method => "post", :name => "oppAccForm"}
      %span#virtual-fields
        %span.grd-grid-12.grd-no-gutter.center
          %input#Email.yemail{:name => "Email", :placeholder => "Masukkan Email Anda", :required => "required", :type => "email"}
        %span.grd-grid-12.grd-no-gutter.center
          %input#chooseapassword.ypass{:maxlength => "25", :name => "chooseapassword", :placeholder => "Pilih Kata Sandi", :required => "required", :type => "password"}
            %input#actype{:name => "actype", :type => "hidden", :value => "virtual"}
              %input{:name => "l", :type => "hidden", :value => $lang}
        %span.grd-grid-12.grd-no-gutter.center
          %input#btn_registration.button.submit-button{:type => "submit", :value => "Daftar Akun Gratis"}
    %p.yreal-money
      Atau
      %a{:href => "https://www.binary.com/c/linkto_acopening.cgi?actype=real&l=ID"} Daftar Akun Riil Anda
