@keyframes spinning {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.spinner {
    animation: spinning .2s * 5 infinite linear;
}

.progress {
    @extend .spinner;
    background-image: url('../images/pages/binary-symbol-logo.svg');
    background-size: contain;
    width: 4rem;
    height: 4rem;
}

.row, .row-inner {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.col, .col-inner {
    flex: 1;
}

.nav_placeholder {
    display: none;
    overflow: hidden;
    width: 100%;
    background-color: $COLOR_BLUE;
    padding: 3px 0 3px 10px;
    margin: 10px 0;
    color: $COLOR_WHITE;
    text-transform: capitalize;
}

.nav_placeholder:after {
    content: '\25BC';
    font-size: 50%;
    right: 0;
    position:absolute;
    margin-right: 10px;
}

input[type=checkbox].show_menu {
    display: none;
}

input[type=checkbox]#market_show_menu:checked ~ #contract_market_nav {
    display: flex;
}

input[type=checkbox]#contract_form_show_menu:checked ~ #contract_form_name_nav {
    display: flex;
}

ul[role=segmented] {
    box-shadow: inset 0px 0px 0px 1px rgba($COLOR_BLUE, 0.2);
    background-color: $COLOR_LIGHT_GRAY;
    color: $COLOR_BLUE;
    display: flex;
    overflow: hidden;
    width: 100%;
    li {
        flex: 1;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin: 0;
        text-transform: capitalize;
        padding: 3px 0;
        text-align: center;
        &.active {
            color: $COLOR_WHITE;
            background-color: $COLOR_BLUE;
        }
        &#risefall, &#higherlower, &#touchnotouch {
            background-image: none;
        }
    }
    a {
        text-decoration: none;
        font-weight: normal;
        padding: .5rem .25rem;
        &:hover {
            text-decoration: none;
        }
    }
}

#trading_socket_container {
    font-size: 85%;
    #contract_container {
        .row {
            padding: 10px 0;
        }
        .big-col {
            flex: 2;
        }
        #contract_form_container {
            .col {
                margin-right: 1rem;
            }
            border: 1px solid $COLOR_GRAY;
        }
        #contract_prices_container {
            margin-left: 1rem;
            position: relative;
            .price_container {
                border: 1px solid $COLOR_GRAY;
                &#price_container_top {
                    margin-bottom: 1rem;
                }
                .contract_purchase {
                    margin-bottom: 6px;
                    padding-left: 6px;
                }
            }
            .description_container {
                .contract_heading {
                    text-transform: capitalize;
                    font-weight: bold;
                    padding: .7em 0 .7em 3.5em;
                    &.asian_up {
                      background: url("../images/pages/trade/asian-u_1.svg") no-repeat 2% 75%;
                    }
                    &.asian_down {
                      background: url("../images/pages/trade/asian-d_1.svg") no-repeat 2% 75%;
                    }
                    &.differs {
                      background: url("../images/pages/trade/differs_1.svg") no-repeat 2% 75%;
                    }
                    &.matches {
                      background: url("../images/pages/trade/matches_1.svg") no-repeat 2% 75%;
                    }
                    &.rises {
                      background: url("../images/pages/trade/rise_1.png") no-repeat 2% 75%;
                    }
                    &.falls {
                      background: url("../images/pages/trade/fall_1.png") no-repeat 2% 75%;
                    }
                    &.higher {
                      background: url("../images/pages/trade/higher_1.png") no-repeat 2% 75%;
                    }
                    &.lower {
                      background: url("../images/pages/trade/lower_1.png") no-repeat 2% 75%;
                    }
                    &.touches {
                      background: url("../images/pages/trade/touch_1.png") no-repeat 2% 75%;
                    }
                    &.does_not_touch {
                      background: url("../images/pages/trade/no-touch_1.png") no-repeat 2% 75%;
                    }
                    &.stays_between {
                      background: url("../images/pages/trade/stay-in-between_1.png") no-repeat 2% 75%;
                    }
                    &.goes_outside {
                      background: url("../images/pages/trade/stay-out_1.png") no-repeat 2% 75%;
                    }
                    &.ends_between {
                      background: url("../images/pages/trade/ends-between_1.png") no-repeat 2% 75%;
                    }
                    &.ends_outside {
                      background: url("../images/pages/trade/ends-outside_1.png") no-repeat 2% 75%;
                    }
                }
                .contract_amount, .contract_description {
                    margin-left: 5px;
                }
                .contract_amount {
                    font-weight: bold;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.overlay_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#contract_confirmation_container {
    background-color: $COLOR_LIGHT_GRAY;
    text-align: center;
}

#loading_icon {
    position: absolute;
    top: 45%;
    left: 45%;
}

@media all and (max-width: 640px) {
    ul[role=segmented] {
        flex-direction: column;
        display: none;
    }
    .nav_placeholder {
        display: flex;
    }
    #contract_container.row {
        flex-direction: column;
        #contract_prices_container {
            margin-left: 0;
        }
        .row-inner {
            flex-direction: column;
            .col-inner {
                margin-bottom: 5px;
            }
        }
    }
}
