@keyframes spinning {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes spinning {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.spinner {
    -webkit-animation: spinning .2s * 5 infinite linear;
    animation: spinning .2s * 5 infinite linear;
}

.progress {
    @extend .spinner;
    background-image: url('../images/pages/binary-symbol-logo.svg');
    background-size: contain;
    width: 4rem;
    height: 4rem;
}

.row, .row-inner {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.col, .col-inner {
    flex: 1;
}

.vertical-row {
    display: flex;
    flex-direction: column;
}

ul[role=segmented] {
    box-shadow: inset 0px 0px 0px 1px rgba($COLOR_BLUE, 0.2);
    background-color: $COLOR_LIGHT_GRAY;
    border-radius: $BORDER_RADIUS;
    color: $COLOR_BLUE;
    display: flex;
    overflow: hidden;
    margin-bottom: 1rem;
    width: 100%;
    li {
        flex: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        margin: 0;
        text-transform: capitalize;
        &.active {
            color: white;
            background-color: $COLOR_BLUE;
            a {
                color: white;
            }
        }
        &#risefall, &#higherlower, &#touchnotouch {
            background-image: none;
        }
    }
    a {
        text-decoration: none;
        font-weight: normal;
        padding: .5rem .25rem;
        &:hover {
            text-decoration: none;
        }
    }
}

#contract_container {
    .row {
        padding: 10px 0;
    }
    .big-col {
        flex: 2 0 0;
    }
    #contract_form_container {
        .col {
            margin-right: 1rem;
        }
        border: 1px solid $COLOR_GRAY;
    }
    #contract_prices_container {
        margin-left: 1em;
        position: relative;
        .price_container {
            border: 1px solid $COLOR_GRAY;
            &#price_container_top {
                margin-bottom: 15px;
            }
            .contract_purchase {
                margin-bottom: 5px;
            }
        }
        .description_container {
            .contract_heading {
                text-transform: capitalize;
                padding: .7em 0 .7em 4em;
                &.asian_up {
                  background: url("../images/pages/trade/asian-u_1.svg") no-repeat 5% 75%;
                }
                &.asian_down {
                  background: url("../images/pages/trade/asian-d_1.svg") no-repeat 5% 75%;
                }
                &.differs {
                  background: url("../images/pages/trade/differs_1.svg") no-repeat 5% 75%;
                }
                &.matches {
                  background: url("../images/pages/trade/matches_1.svg") no-repeat 5% 75%;
                }
                &.rises {
                  background: url("../images/pages/trade/rise_1.png") no-repeat 5% 75%;
                }
                &.falls {
                  background: url("../images/pages/trade/fall_1.png") no-repeat 5% 75%;
                }
                &.higher {
                  background: url("../images/pages/trade/higher_1.png") no-repeat 5% 75%;
                }
                &.lower {
                  background: url("../images/pages/trade/lower_1.png") no-repeat 5% 75%;
                }
                &.touches {
                  background: url("../images/pages/trade/touch_1.png") no-repeat 5% 75%;
                }
                &.does_not_touch {
                  background: url("../images/pages/trade/no-touch_1.png") no-repeat 5% 75%;
                }
                &.stays_between {
                  background: url("../images/pages/trade/stay-in-between_1.png") no-repeat 5% 75%;
                }
                &.goes_outside {
                  background: url("../images/pages/trade/stay-out_1.png") no-repeat 5% 75%;
                }
                &.ends_between {
                  background: url("../images/pages/trade/ends-between_1.png") no-repeat 5% 75%;
                }
                &.ends_outside {
                  background: url("../images/pages/trade/ends-outside_1.png") no-repeat 5% 75%;
                }
            }
            .contract_amount, .contract_description {
                margin-left: 5px;
            }
        }
    }
}

.overlay_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#contract_confirmation_container {
    background-color: $COLOR_LIGHT_GRAY;
    text-align: center;
}

#loading_icon {
    position: absolute;
    top: 45%;
    left: 45%;
}

@keyframes spin
{
    from { transform: rotate(0deg); opacity: 0.2; }
    50%  { transform: rotate(180deg); opacity: 1; }
    to   { transform: rotate(360deg); opacity: 0.2; }
}

@media all and (max-width: 640px) {
    ul[role=segmented] {
        flex-direction: column;
    }
    #contract_container.row {
        flex-direction: column;
        #contract_prices_container {
            margin-left: 0;
        }
        .row-inner {
            flex-direction: column;
            .col-inner {
                margin-bottom: 5px;
            }
        }
    }
}
