<div class="grd-grid-12">
    <h2>[% l("No Connections With Antisocial Forces") %]</h2>
    <p>
    	Japan website Paragraph 1
    </p>
    <p>
    	<ol>
    		<li>
    			Japan website List item 1
    		</li>
    		<br />
    		<li>
    			Japan website List item 2
    			<p>
    				Japan website Paragraph 1
    			</p>
    		</li>
    	</ol>
    </p>
</div>