<div class="grd-grid-12">
    <h2>[% l("Pre-contract Document") %]</h2>
    <p>
    	Japan website Pre-contract Document Paragraph 1
    </p>
    <a href="[% request.url_for('/templates/toolkit/legal_jp/download/Pre-contractDocs(20150831).pdf') %]" download>Japan website Download Text for Pre-contract Document</a>
</div>