<div class="grd-grid-12">
    <h2>[% l("Terms and Conditions") %]</h2>
    <p>
    	Japan website Terms and Conditions Paragraph 1
    </p>
    <a href="[% request.url_for('/download/Terms_20150826.pdf') %]" download>Japan website Download Text for Terms and Conditions Document</a>
</div>