[% FOREACH table = tables %]
    [% INCLUDE container/full_table_from_hashrefs.tt
        title = table.title
        rows  = table.rows 
    %]
    <div style="padding-bottom: 20px;"></div>
[% END %]