table
{
    border-collapse: collapse;
    font-size: 0.9em;
    line-height: 1.5em;
    width: 100%;
    .even {
        background-color: $BIN_WHITE;
    }
    * {
        font-size: 1em;
    }
    thead, th {
        line-height: 1.1em;
        font-weight: bold;
        padding: 3px 8px;
        background: $BIN_LIGHT_GRAY;
        border-bottom: 1px solid $BIN_DARK_GRAY;
        vertical-align: middle;
        &#pf-bet-details {
            text-align: left;
        }
        &.total {
            background: none;
        }
        &.num {
            font-weight: bold;
        }
    }
    td {
        vertical-align: top;
        border-width: 0 1px;
        padding: 4px 4px;
        border-bottom: 3px solid $BIN_LIGHT_GRAY;
        &.num {
            text-align: center;
        }
        &.text {
            text-align: center;
            vertical-align: middle;
        }
        &.tip {
            text-align: left;
        }
        a.button-analyse, a.button-analyse:visited {
            color: $BIN_GREEN;
            background: none;
            display: inline;
            padding: 0;
            span {
                font-weight: normal;
                color: $BIN_GREEN;
                background: none;
                text-transform: capitalize;
                padding: 0;
                &:hover, &:active {
                    background: none;
                    color: $BIN_GREEN;
                    text-decoration: underline;
                }
            }
        }
    }
    tr.rbox-sub-header {
        font-weight: bold;
        .first {
            text-align: left;
        }
    }
    .rbox-sub-header {
        background-color: $BIN_WHITE;
        font-size: 1.1em;
        font-weight: bold;
        padding: 1.5em 0.2em 0.8em;
    }
    .action, .icon {
        text-align: center;
    }
    .total, .num {
        text-align: right;
    }
    .status, .time {
        text-align: left;
    }
    .ref {
        text-align: center;
    }
    .range {
        padding: 4px 36px;
        text-align: left;
    }
    .percent {
        text-align: center;
    }
    .loss, .lower {
        color: $BIN_RED;
    }
}

/* Gridle based table styling */
.table-header{
    clear: both;
    overflow: auto;
    font-weight: bold;
    font-size: 90%;
    border-bottom: 1px solid #808080;
    background: none repeat scroll 0% 0% #F2F2F2;
    [class*="grd-grid-"] {
        word-wrap: break-word;
        white-space: normal;
    }
}

.table-body {
    clear: both;
    line-height: 1.5em;
    padding-top: 20px;
    font-size: 90%;
    padding-bottom: 0px;

    .profit {
        color: $BIN_GREEN;
    }
    .loss, .lower {
        color: $BIN_RED;
    }
    a.button-analyse, a.button-analyse:visited {
        color: $BIN_GREEN;
        background: none;
        display: inline;
        padding: 0;
        span {
            font-weight: normal;
            color: $BIN_GREEN;
            background: none;
            text-transform: capitalize;
            padding: 0;
            &:hover, &:active {
                background: none;
                color: $BIN_GREEN;
                text-decoration: underline;
            }
        }
    }
}
.table-body-lines {
    border-bottom: 3px solid #F2F2F2;
}
