<form method="post" action="[% request.url_for('f_brokercgi/monthly_client_report.cgi') %]">
    <textarea name="report_keywords" rows="30" cols="50">[% report_keywords %]</textarea>
    <input type="hidden" name="broker" value="[% broker %]">
    <input type="submit" name="action" value="save_keywords">
</form>
