<form method="post" action="[% request.url_for('f_brokercgi/monthly_client_report.cgi') %]">
    <b>Month :</b>
    <select name="filename">
        [% FOREACH file IN report_list %]
            <option value="[% file %]">[% file %]</option>
        [% END %]
    </select>
    <input type="hidden" name="broker" value="[% broker %]">
    <input type="submit" name="action" value="download_csv">
</form>
