<script src="[% request.url_for('backoffice/jbpivot.min.js') %]"></script>
<link rel="stylesheet" href="[% request.url_for('backoffice/jbpivot.min.css') %]">
<div id="pivot1"></div>
<script type="text/javascript">
      \$(window).load(function(){
    var pivot = [% pivot %];
    pivot.formatter = function (V,f) { var res=0; if (typeof(V) === "number") { res = virgule(Math.round(V)); } return res; };
              \$("#pivot1").jbPivot(pivot)
          });
</script>
