[% IF affiliates.size == 0 %]
    <p>None.</p>
[% ELSE %]
<table>
    <tbody>
    [% FOREACH affiliate IN affiliates %]
    <tr class="AFF[% affiliate.id %]"><td>[<span title="[% aff_titlfy(affiliate) %]">[% affiliate.id %]</span> USD]</td><td>[% monify(affiliate.$key) %]</td></tr>
    [% END %]
    </tbody>
</table>
[% END %]
