[% IF request.param('iframe') %]
<style> .landing_page_iframe{width:100%; height:30em; overflow-y: hidden;} </style>
<iframe class="landing_page_iframe" src="[% request.param('iframe') %]" frameBorder="0">
</iframe>
[% ELSE %]
<h1>[% l("Thank You !") %]</h1>
<p>[% l("Your form has been submitted.") %]</p>
<a id="webinar-signup" class="button button-more" href="[% request.url_for('/') %]">
    <span class="button button-more">[% l('Go to Home Page') %]</span>
</a>
[% END %]
