<h4>
    [% l("Exit spot") %]
</h4>
<p>
    [% l("The <strong>exit spot</strong> is the price in effect at the <strong>end time</strong>.") %]
</p>
<p>
    [% l("The <strong>end time</strong> is the selected number of minutes/hours after the <strong>start time</strong> (if less than one day in duration), or at the end of the trading day (if one day or more in duration).") %]
</p>
<p>
    [% l("The <strong>start time</strong> is when the contract is processed by our servers.") %]
</p>
