[% l("Dear Valued Customer,

Further to your request to change your password, please help us to verify your identity by clicking on the link below:

[_1]", link) %]

[% l("Should you require further assistance, feel free to contact our customer support team at [_1]", helpdesk) %]

Binary.com Team
