<!DOCTYPE html>
[% IF appcache_manifest %]
<html manifest='[%= request.url_for(iso639a_language _ "_appcache.appcache") =%]'>
[% ELSE %]
<html>
[% END %]
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta http-equiv="Content-Language" content="[%= iso639a_language =%]" />
        <meta name="description" content="
        [%= l('[_1] gives everyone an easy and exciting way to participate in the financial markets. Trade with as little as $1 USD on major currencies, indices and commodities.', broker_name) =%]" />
        <meta name="keywords" content="
                [%= l('binary options, forex, forex trading, online trading, financial trading, binary trading, index trading, trading indices, forex trades, trading commodities, binary options strategy, binary broker, binary bet, binary options trading platform, binary strategy, finance, stocks, investment, trading') =%]" />
        <meta name="author" content="[%= broker_name =%]" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="dcterms.rightsHolder" content="[%= broker_name =%]" />
        <meta name="dcterms.rights" content="[%= broker_name =%]" />
        <meta name="google-site-verification" content="roReCEK-wNa1EMA6ZM9a4zCOQOMqxfJjvfsZMC9qh_k" />
        <meta property="og:title" content="[%= broker_name =%]" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="[% request.url_for('images/common/og_image.gif') %]" />

        <link rel="icon" type="image/png" href="[% request.url_for('images/common/favicon_1.ico') %]"/>

        [% FOREACH key = available_languages.keys %]
            <link rel="alternate" href="[% request.get_current_path() =%]?l=[% key %]" hreflang="[% key %]"/>
        [% END %]
        [%= FOREACH css_file IN css_files =%]
            <link rel="stylesheet" href="[%= css_file =%]">
        [% END %]

        [% INCLUDE global/javascripts.html.tt
            javascript=javascript
        %]

        <title>[%= broker_name =%] - [%= title =%]</title>
        <link rel="SHORTCUT ICON" href="[%= icon_url =%]" />
    </head>
