.flex-table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.breakline {
    white-space: pre-line;
}

.flex-table-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.flex-table-row-item {
    flex: 1 1 50px;
}