<div class="grd-grid-12">
    <h1>[% title %]</h1>
    <p>[% l('Date') %]: <input type="text" id="tradingdate" value="[% selected_date %]"/></p>
    <p>[% l('All the times on the website and contract settlements are according to GMT (Greenwich Mean Time).')%]</p>
</div>
