[% WRAPPER 'container/rounded_box_popup.tt' heading=l('Deposit') %]
    <div class="rbox-content rbox-bg-alt">
        <p>[% message_of_deposit_box %]</p>
        <div class="deposit_button form_button">
            <a class="button" href="[% deposit_url %]">[% l('Deposit') %]</a>
        </div>
    </div>
[% END %]
