<h1>[% l('Self-Exclusion Facilities') %]</h1>

<p>[% l('Trading the financial markets can become addictive. Fill in the form below to limit your participation on the website or send a signed letter or fax to our customer support team. Once set, you can only tighten your limits. Limits will only be removed or loosened after 7 days with the exception of the self-exclusion date, which cannot be removed or altered once you have confirmed it. To remove or alter your limits, please contact <a href="[_1]">customer support</a>.', request.url_for('contact')) %]</p>

[% IF form %]
[% form.build() %]
[% END %]
