- my $content_class = current_route.'-content';
  #page_info{:style => 'display: none;'}
    %title= stash('website_name') . (stash('title') ? " : ".stash('title'): '')
    #content_class= $content_class
