#date-nav-panel {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;

  .button {
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    background: #2e8836;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 10px 25px;
    display: inline-block;
    letter-spacing: .75px;
    overflow: visible;
    border: 0;
  }
}