.flex-table-container {
  min-width: 100px;
  overflow-x: auto;

  th {
    text-align: left !important;
    border-bottom: none !important;
  }

  td {
    text-align: left !important;
    padding-left: 10px;
  }

  .break-line {
    white-space: pre-line;
  }

  .flex-table {
    min-width: 700px;
    display: flex;
    flex-direction: column;

    .flex-tr {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 100px;
      flex-direction: row;
      align-items: stretch;

      .flex-tr-child {
        flex: 1 1 50px;
      }
    }
  }
}

