#profit-table-ws-container {

  th {
    padding-right: 8px;
  }

  td {
    padding-right: 8px;
  }

  .pl {
    text-align: right !important;
  }

  #pl-day-total {
    .buy-date {
      flex-grow: 6;
      flex-shrink: 6;
    }
  }

  #pl-total {
    .buy-date {
      flex-grow: 6;
      flex-shrink: 6;
    }
  }

  .contract {
    flex: 2 1 100px;
    padding-right: 20px;
  }

  #overlay_background {
    position: absolute;
    display: none;
    z-index: 10;
    width: 100%;
    min-height: 50%;
    background-color: white;
  }

  #loading_in_progress {
    cursor: pointer;
    @extend .spinner;
    background-image: url('../images/pages/binary-symbol-logo.png');
    background-image: url('../images/pages/binary-symbol-logo.svg'), none;
    background-size: contain;
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 50%;
    top: 350px;
    margin-left: -5rem;
    display: none;
    z-index: 11;
  }
}