
#statement-ws-container {

    #date-nav-panel {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: stretch;
    }

    .desc {
        flex: 2 1 100px;
        padding-right: 20px;
    }

    .act {
        flex: 0.8 1 35px;
    }

    .button {
        color: #fff;
        text-decoration: none;
        text-align: center;
        line-height: 100%;
        background: #2e8836;
        border-radius: 4px;
        text-transform: capitalize;
        padding: 10px 25px;
        display: inline-block;
        letter-spacing: .75px;
        overflow: visible;
        border: 0;
    }

    label[for="date-picker"] {
        left: 30%;
    }
}