
#statement-ws-container {

    .desc {
        flex: 2 1 100px;
        padding-right: 20px;
    }

    .act {
        flex: 0.8 1 35px;
    }

    label[for="date-picker"] {
        left: 30%;
    }

    #ending-note {
        font-size: 80%;
        color: #0000ff;
    }
}