#balance-content {
  min-width: 800px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  display: none;

  th {
    border-bottom: none !important;
  }

  .button {
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 100%;
    background: #2e8836;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 10px 25px;
    display: block;
    letter-spacing: .75px;
    overflow: visible;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}