#virtual-form{
	text-align: center;
	input {
		margin: 10px 0;
		width: 29%;
		border-radius: 4px;
	}
	#residence {
		width: 30%;
		margin: 10px 0;
	}
	input[type=submit] {
		color: #fff;
	    text-decoration: none;
	    line-height: 100%;
	    letter-spacing: .75px;
	    background: #2a3052;
	    padding: 9px 10%;
	    margin-top: 0;
	    margin-bottom: 15px;
	    border: 0;
	    white-space: normal;
	    font-size: 18px;
	    width: 30%;
	}
	input[type=submit]:focus, input[type=submit]:hover {
    	outline: 0;
    	background: #14620b;
	}
	.error-message {
        font-style: italic;
        margin: 0;
        margin-top: 8px;
        font-size: 85%;
    }
}
