<div id="sell_bet_desc" class='popup_bet_desc drag-handle'>[% longcode %]</div>

<div id='sell_content_wrapper'>
    <div>[% current_value%]</div>
    <div>[% buy_level %]</div>
    <div>[% sell_level %]</div>
</div>

