- stash(title => l('Contact us'));

.grd-container.grd-default-container
  .grd-grid-12.grd-grid-mobile-12.grd-parent
    %p 
      Email: support@binary.com
    %p
     Telephone: 
     %select{:name => 'telephone'}
        %option{:value => 'test'} Australia +61280050136
        %option{:value => 'test'} Indonesia +6285574670313
        %option{:value => 'test'} Russia +788007073860
        %option{:value => 'test'} Ukraine +380893202430
        %option{:value => 'test'} United Kingdom +448081782950 (Toll-free)


