- stash(title => l('API'));

:css
 table.api ul.checked     { margin: 0 auto; width: 20px }
 table.api td             { text-align: center }
 table.api td:first-child { text-align: left }

.grd-container.grd-default-container
  .partner-api.static_full
    .grd-grid-12.grd-grid-mobile-12.grd-parent
      .section
        %a#api-wsok
        .section-content
          #section-0
            .grd-grid-12.grd-with-padding
              %h1= l('Websockets API')
            .grd-grid-4.grd-grid-mobile-12
              %img.responsive{:src => url_for('images/pages/partnerapi/api.svg')}
            .grd-grid-8.grd-grid-mobile-12
                %p= l('The [_1] Websockets API uses the state-of-the-art Websockets protocol to allow fast, two-way messaging between client programs and [_1] trading services.', stash->{website_name})
                %p
                  = l('To get started with the Websockets API, please consult the ')
                  %a{:href=>'https://github.com/binary-com/websockets-api/wiki'}= l('the Binary.com WebSocket API Reference pages.')
