<div id="[% bet_id %]vol">
    <ul>
        [% FOREACH tab = tabs %]
            <li><a[% IF tab.class %] class="[% tab.class %]"[% END %] href="#[% bet_id %][% tab.url %]">[% tab.label %]</a></li>
        [% END %]
    </ul>
    [% FOREACH tab = tabs %]
        <div id="[% bet_id %][% tab.url %]">
        [% tab.content %]
        </div>
    [% END %]

    <script> \$(function() { \$( "#[% bet_id %]vol" ).tabs(); }); </script>
</div>
