.grd-grid-12
  %p#VRT_topup_errorMessage
  %h1#VRT_title= l('Give me more money !')
  %div{:class => 'centerText', :id => 'VRT_topup_message'}
    %p
      %form{:action => url_for('/user/portfolio'),:method => 'POST'}
        %span.button
          %button{:class => 'button' , :type => 'submit', :id => 'submit', :value => 'View Updated Portfolio'}
            = l('View Updated Portfolio')
